<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header pb-0">
          <h5>MASONRY GALLERY</h5>
        </div>
        <div class="card-body photoswipe-pb-responsive" itemprop="associatedMedia" itemscope="">
          <div gallerize>
            <ngx-masonry [options]="masonryOptions" style="width: 100%;" [ordered]="true" (itemsLoaded)="itemsLoaded()">
              <div class="m-b-30" ngxMasonryItem [prepend]="image[0]" *ngFor="let image of masonryImages;index as idx" style="width: 246px;">
                <img [src]="image[1]" width="100%" class="img-fluid">
              </div>
            </ngx-masonry>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
