<div class="container py-2 e-learn rounded-3 my-4">
    <div class="card-body">
      <form [formGroup]="newForm">
        <div class="row">
          <h2 class="pb-2 fs-6">
            Find your class
            <b class="fw-bold" style="color: #007cc3; text-decoration: underline">Video</b>
          </h2>
          <div class="col-md-2">
            <select class="form-select" formControlName="className"
              (change)="loadSubjectsForClass(newForm.get('className')?.value)">
              <option [value]="null" disabled>Select Class</option>
              <option *ngFor="let c of classes" [value]="c.key">{{ c.value }}</option>
            </select>
          </div>
          <div class="col-md-2">
            <select formControlName="subjectName" class="form-select" id="subjectName" (change)="changeSubject()" name="subjectName">
              <option [value]="null" disabled>Select Subject</option>
              <option *ngFor="let subject of getSubject" [ngValue]="subject._id">
                {{ subject.subjectName }}
              </option>
            </select>
          </div>
          <div class="col-md-2">
            <select class="form-select" formControlName="chapterName" (change)="changeChapter()">
              <option [value]="null" disabled>Select Chapter</option>
              <option *ngFor="let chapter of getChapter" [ngValue]="chapter._id">
                {{ chapter.chaptername }}
              </option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <div class="container py-4 my-4">
    <div class="col-md-12">
      <div *ngIf="showMessage()" class="alert alert-warning" role="alert">
       <span> Please select all fields to view videos.</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div *ngFor="let youtubeLink of getYoutubeLinks">
          <div class="card-image w-100 mb-3">
            <iframe width="420" height="320" [src]="youtubeLink.videoLink"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>
          <div class="card-body pt-0">
            <h4 class="mt-2 mt-0">{{ youtubeLink.videoName }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  