 
<div class="container-fluid product-wrapper" [class.sidebaron]="openSidebar">
   <div class="product-grid">
     <div class="feature-products">
       <div class="row m-b-10">
         <div class="col-md-3 col-sm-2 products-total">
           <div class="square-product-setting d-inline-block"><a class="icon-grid grid-layout-view" href="javascript:void(0)" data-original-title="" title="" (click)="gridOpens()">
           <app-feather-icons [icon]="'grid'"></app-feather-icons>
          </a></div>
           <div class="square-product-setting d-inline-block"><a class="icon-grid m-0 list-layout-view" href="javascript:void(0)" data-original-title="" title="" (click)="listOpens()">
          <app-feather-icons [icon]="'list'"></app-feather-icons>  
          </a></div>
           <div class="d-none-productlist filter-toggle" (click)="openFilter()">
             <h6 class="mb-0">Filters<span class="ms-2"><i class="toggle-data">
              <app-feather-icons [icon]="'chevron-down'"></app-feather-icons> 
             </i></span></h6>
           </div>
           <div class="grid-options d-inline-block">
             <ul>
               <li (click)="grid2s()"><a class="product-2-layout-view"  data-original-title="" title=""><span class="line-grid line-grid-1 bg-primary"></span><span class="line-grid line-grid-2 bg-primary"></span></a></li>

               <li (click)="grid3s()"><a class="product-3-layout-view"  data-original-title="" title=""><span class="line-grid line-grid-3 bg-primary"></span><span class="line-grid line-grid-4 bg-primary"></span><span class="line-grid line-grid-5 bg-primary"></span></a></li>
               <li (click)="gridOpens()"><a class="product-4-layout-view"  data-original-title="" title=""><span class="line-grid line-grid-6 bg-primary"></span><span class="line-grid line-grid-7 bg-primary"></span><span class="line-grid line-grid-8 bg-primary"></span><span class="line-grid line-grid-9 bg-primary"></span></a></li>
               <li (click)="grid6s()"><a class="product-6-layout-view"  data-original-title="" title=""><span class="line-grid line-grid-10 bg-primary"></span><span class="line-grid line-grid-11 bg-primary"></span><span class="line-grid line-grid-12 bg-primary"></span><span class="line-grid line-grid-13 bg-primary"></span><span class="line-grid line-grid-14 bg-primary"></span><span class="line-grid line-grid-15 bg-primary"></span></a></li>
             </ul>
           </div>
         </div>
         <div class="col-md-9 col-sm-10 text-end">
           <div class="select2-drpdwn-product select-options d-inline-block">
             <select class="form-control btn-square form-select" name="select">
               <option value="opt1">Featured</option>
               <option value="opt2">Lowest Prices</option>
               <option value="opt3">Highest Prices</option>
             </select>
           </div>
         </div>
       </div>
       <div class="row">                            
         <div class="col-md-12">
           <div class="pro-filter-sec">
             <div class="product-sidebar" [class.open]="OpenFilter">
               <div class="filter-section">
                 <div class="card">
                  <div class="card-header" (click)="sidebarToggle()">
                     <h6 class="mb-0 f-w-600">Filters<span class="pull-right"><i class="fa fa-chevron-down toggle-data"></i></span></h6>
                   </div>
                   <app-filter></app-filter>
                 </div>
               </div>
             </div>
             <div class="product-search">
               <form>
                 <div class="form-group m-0">
                   <input class="form-control" type="search" placeholder="Search.." data-original-title="" title=""><i class="fa fa-search"></i>
                 </div>
               </form>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="product-wrapper-grid" [class.list-view]="listView">   
       <app-product-box></app-product-box>
     </div>
     <div class="card page-bottom b-r-0">
       <div class="row">
         <div class="col-12 col-sm-6">
           <div class="info-block">
             <ul class="pagination pagination-primary">
               <li class="page-item disabled"><a class="page-link" href="javascript:void(0)" tabindex="-1">Previous</a></li>
               <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
               <li class="page-item active"><a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a></li>
               <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
               <li class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
             </ul>
           </div>
         </div>
         <div class="col-12 col-sm-6 text-end">
           <div class="pagination-content"><span class="f-w-600">Showing Products 1 - 24 Of 200 Results</span></div>
         </div>
       </div>
     </div>
   </div>
 </div>
