.fullscreen-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: add a semi-transparent overlay */
    z-index: 1050; /* Adjust the z-index as needed */
  }
  
  .fullscreen-modal-content {
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff; /* Set the background color as needed */
  }