<div class="page-main-header">
  <div class="main-header-right row m-0 p-0" style="height: 83px;">
    <div class="main-header-left ">
      <div class="logo-wrapper">
        <a href="/">
          <img
            class="logo-img"
            src="../../../../assets/images/Learn and achieve Logo (1).png"
            alt=""
            width="150px"
            height="50px"
        /></a>
      </div>
      <div class="dark-logo-wrapper">
        <a href="/">
          <img class="img-fluid" src="assets/images/logo/dark-logo.png" alt=""
        /></a>
      </div>
      <div class="toggle-sidebar" (click)="sidebarToggle()">
        <i class="fa fa-bars fs-5" id="sidebar-toggle" ></i>
      </div>
    </div>
    <div class="left-menu-header col">
      <!-- <app-search></app-search> -->
    </div>
    <div class="nav-right col pull-right right-menu p-0">
      <ul class="nav-menus" [class.open]="open">
        <!-- <li class="language-nav" (click)="languageToggle()">
        <app-languages></app-languages>
      </li> -->

        <!-- <li class="onhover-dropdown">
        <app-notification></app-notification>
      </li> -->
        <!-- <li class="onhover-dropdown">
        <app-mode></app-mode>
      </li>  -->
        <!-- <li class="onhover-dropdown">
        <app-chat></app-chat>
      </li> -->
        <!-- <li class="onhover-dropdown p-0">
          <button
            class="btn btn-primary-light"
            (click)="openModal(template)"
            type="button"
          >
            Register for Bharat-SAT
          </button>
        </li> -->
        <!-- <li class="onhover-dropdown p-0">
          <button class="btn btn-primary-light" type="button">
            <a [routerLink]="['/b-sat/profile']"
              ><i data-feather="user"></i>Profile
            </a>
          </button>
        </li> -->
        <li class="onhover-dropdown p-0">
          <button class="btn btn-primary-light" (click)="logout()" type="button"><a [routerLink]="['/auth/login']">Logout  <i data-feather="log-out"></i></a></button>
        </li>
        <li>
          <app-maximize></app-maximize>
        </li>
      </ul>
    </div>
    <div class="d-lg-none mobile-toggle pull-right w-auto" (click)="openMenu()">
      <i data-feather="more-horizontal"></i>
    </div>
  </div>
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Bharat-SAT Registration</h4>
      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        (click)="modalRef?.hide()"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container">
        <form [formGroup]="studentForm">
          <!-- Class Field -->
          <div class="mb-3">
            <label for="class" class="form-label">Class</label>
            <select
              class="form-select"
              formControlName="className"
              (change)="
                loadSubjectsForClass(studentForm.get('className')?.value)
              "
            >
              <option [value]="null" disabled>Select Class</option>
              <option *ngFor="let c of classes" [value]="c.key">
                {{ c.value }}
              </option>
            </select>
          </div>

          <!-- Exam Fee Field -->
          <div class="mb-3">
            <label for="examFee" class="form-label">Exam Fee</label>
            <input
              type="text"
              id="examFee"
              formControlName="examFee"
              class="form-control"
              required
            />
          </div>

          <!-- Student Photo Field -->
          <div class="mb-3">
            <label for="studentPhoto" class="form-label">Student Photo</label>
            <input
              type="file"
              id="studentPhoto"
              (change)="uploadProductImages($event)"
              formControlName="studentPhoto"
              class="form-control"
              required
            />
            <img *ngIf="uploadedImagesUrls[0]" [src]="uploadedImagesUrls[0]" alt="Product Image">
          </div>

          <!-- Student Signature Photo Field -->
          <div class="mb-3">
            <label for="signaturePhoto" class="form-label"
              >Student Signature Photo</label
            >
            <input
              type="file"
              id="signaturePhoto"
              (change)="uploadProductImages($event)"
              formControlName="signaturePhoto"
              class="form-control"
              required
            />
            <img *ngIf="uploadedImagesUrls[1]" [src]="uploadedImagesUrls[1]" alt="Product Image">
          </div>

          <!-- Submit Button -->
          <div class="text-end">
            <button
              type="submit"
              class="btn btn-success"
              (click)="submitForm()"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
</div>
