<div class="card">
   <div class="card-header pb-0">
     <h5>Color Accordion</h5><span>Add <code>.bg-*</code> class to add background color with card-header.pb-0.</span>
   </div>
   <div class="card-body color-accordian">
      <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="static-1">
         <ngb-panel id="static-1" title="Collapsible Group Item #1">
           <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
           </ng-template>
         </ngb-panel>
         <ngb-panel id="static-2" title="Collapsible Group Item #2">
            <ng-template ngbPanelContent>
             Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
            </ng-template>
          </ngb-panel>
         <ngb-panel id="static-3" title="Collapsible Group Item #3">
           <ng-template ngbPanelContent>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
           </ng-template>
         </ngb-panel>
       </ngb-accordion>
   </div>
 </div>