 
<div class="container-fluid">
   <div class="edit-profile">
     <div class="row">
       <div class="col-xl-4">
         <app-my-profile></app-my-profile>
       </div>
       <div class="col-xl-8">
         <app-edit-profile></app-edit-profile>
       </div>
     </div>
   </div>
 </div>