 
<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <app-grid-options></app-grid-options>
    <app-grid-column></app-grid-column>
    <app-grid-setting></app-grid-setting>
    <app-grid-vertical></app-grid-vertical>
    <app-grid-horizontal></app-grid-horizontal>
    <app-grid-nesting></app-grid-nesting>
    <app-grid-order></app-grid-order>
    <app-grid-offset></app-grid-offset>
  </div>
</div>
<!-- Container-fluid Ends-->