 
<div class="container-fluid">
   <div class="row">
     <div class="col-sm-12">
       <div class="card">
         <div class="card-header pb-0">
           <h5>Ion Range Slider</h5>
         </div>
         <div class="card-body">
           <form class="theme-form form-label-align-right range-slider">
             <div class="form-group row">
               <label class="col-md-2 col-form-label sm-left-text" for="u-range-01">Default</label>
               <div class="col-md-10">
                <ngx-slider [(value)]="value" [options]="options"></ngx-slider>
               </div>
             </div>
             <div class="form-group row">
               <label class="col-md-2 control-label sm-left-text" for="u-range-02">Min-Max Value</label>
               <div class="col-md-10">
                <ngx-slider [(value)]="value2" [(highValue)]="maxvalue"  [options]="options"></ngx-slider>
               </div>
             </div>
             <div class="form-group row">
               <label class="col-md-2 control-label sm-left-text" for="u-range-06">Custom Values</label>
               <div class="col-md-10">
                <ngx-slider [(value)]="options2Value" [options]="options2"></ngx-slider>
               </div>
             </div>
             <div class="form-group row">
               <label class="col-md-2 control-label sm-left-text" for="u-range-07">Prettify Numbers</label>
               <div class="col-md-10">
                <ngx-slider [(value)]="value3" [options]="options3"></ngx-slider>
               </div>
             </div>
             <div class="form-group row mb-0">
               <label class="col-md-2 control-label sm-left-text" for="u-range-08">Disabled</label>
               <div class="col-md-10">
                <ngx-slider [(value)]="value3" [options]="options4"></ngx-slider>
               </div>
             </div>
           </form>
         </div>
       </div>
     </div>
   </div>
</div>