<div class="container-fluid p-0">
   <div class="row">
     <div class="col-12">
       <div class="login-card">
         <form class="theme-form login-form"  [formGroup]="loginForm">
           <h4>Login</h4>
           <h6>Welcome Log in to your account.</h6>
           <div class="form-group">
             <label>User ID</label>
             <div class="input-group"><span class="input-group-text"><i class="icon-user"></i></span>
              <input class="form-control" type="text" placeholder="Enter your uniq ID" formControlName="userId">
               <div *ngIf="loginForm.controls['userId'].touched && loginForm.controls['userId'].errors?.['required']"
                  class="text text-danger mt-1">
                  userId is required
              </div>
              <div *ngIf="loginForm.controls['userId'].touched && loginForm.controls['userId'].errors?.['userId']"
                  class="text text-danger mt-1">
                  Invalid userId
              </div>
             </div>
           </div>
           <div class="form-group">
             <label>Password</label>
             <div class="input-group"><span class="input-group-text"><i class="icon-lock"></i></span>
              <input class="form-control" [type]="show ? 'text' : 'password'" name="login[password]" required="" placeholder="xxxxxxx"  formControlName="password">
              <div class="show-hide" (click)="showPassword()" *ngIf="!show"><span class="show"></span></div>
                <div class="show-hide" (click)="showPassword()" *ngIf="show"><span class="Hide"></span></div>
                <div *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].errors?.['required']"
                      class="text text-danger mt-1">
                      Password is required
                </div>
             </div>
           </div>
           <div class="form-group">
            <button class="btn btn-primary btn-block"
            (click)="login()"
            type="submit">Login
          </button>
          </div>
         </form>
       </div>
   </div>
 </div>

<app-loader-design></app-loader-design>
 