<div class="card">
    <div class="card-body">
      <div class="product-info">
        <form [formGroup]="studyMaterialFrom" class="form theme-form">
          <div class="product-group">
             <div class="row">
              <div class="col-lg-4 col-sm-12">
                <div class="mb-3">
                  <label class="form-label" for="categoryId"> Class Id</label>
                  <select class="form-select" formControlName="classId">
                    <option [value]="null" disabled>Select Class</option>
                    <option *ngFor="let c of classes" [value]="c.key">
                      {{ c.value }}
                    </option>
                  </select>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div class="mb-3">
                  <label class="form-label" for="categoryId"> Medium</label>
                  <select class="form-select" formControlName="medium">
                    <option [value]="null" disabled>Select Class</option>
                    <option *ngFor="let m of medium" [value]="m.key">
                      {{ m.value }}
                    </option>
                  </select>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div class="mb-3">
                  <label class="form-label" for="materialFee">Material Fee</label>
                  <input  class="form-control" id="materialFee" formControlName="materialFee" placeholder="Material Fee"
                    type="text" required>
                    <div *ngIf="studyMaterialFrom.get('materialFee')!.touched && studyMaterialFrom.get('materialFee')!.hasError('required')" class="text text-danger mt-1">
                        Material Fee is required
                    </div>
                </div>
              </div>
            </div>
             </div>
         <div class="col-12 d-flex justify-content-end mt-2">
          <button type="submit" class="btn btn-success"  *ngIf="this.isEditClicked == false" [disabled]="!studyMaterialFrom.valid" (click)="createStudyMaterial()">Submit</button>&nbsp;
          <button type="submit" class="btn btn-success"  *ngIf="this.isEditClicked == true" [disabled]="!studyMaterialFrom.valid" (click)="updateStudyMaterial()">Update</button>
         </div>
        </form>
      </div>
    </div>
  </div>

  <app-loader-design></app-loader-design>

