<div class="container-fluid list-products">
    <div class="row">
      <!-- Individual column searching (text inputs) Starts-->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header pb-0">
            <div class="d-flex justify-content-end">
              <button [routerLink]="['/admin-panel/bharat-sat/add-question']" class="btn btn-success " type="button" data-original-title="btn btn-success btn-xs" title="">Add Data</button>
            </div>
           </div>
           <div class="card-body">
             <div class="table-responsive">
               <form>
              <table class="table table-hover table-border-horizontal" id="basic-1">
                <thead>
                  <tr>
                     <th  scope="col" >Test Name</th>
                    <!-- <th  scope="col" >Subject Name</th> -->
                    <th  scope="col" >Question</th>
                    <th  scope="col" >Options Available</th>
                    <th  scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                 
                  <tr class="odd" *ngFor="let item of QuestionDetails" >
                    <td class="sorting_1">
                      <p>{{item?.bsatExamTestId?.bsatExamTestName}}</p></td>
                      <!-- <td class="sorting_1">
                        <h6>{{item.subjectName}}</h6></td> -->

                     <td class="sorting_1">
                         <p>{{item.question}}</p></td>
                         <td class="sorting_1">
                          <!-- Use ngFor to iterate over optionList -->
                          <ul>
                            <li *ngFor="let option of item.optionList; let i = index" [ngClass]="{'text-success fw-semibold': option.isCorrect}">
                              {{ alphabet[i] }}. {{ option.optionValue }}
                            </li>
                          </ul>
                        </td>

                     <td class="sorting_1">
                      <button  class="btn btn-primary btn-xs" type="button" data-original-title="btn btn-danger btn-xs" (click)="editTheForm(item,$event)" title="">
                        <i class="fa fa-edit"></i>
                      </button> &nbsp;
                       <button class="btn btn-danger btn-xs" type="button" data-original-title="btn btn-danger btn-xs" title="" (click)="deleteQuestion(item._id)" >
                        <i class="fa fa-trash-o"></i>
                      </button>
                     </td>
                   </tr>
                 
                </tbody>
              </table>
              <div class="d-flex justify-content-between mt-2">
               <!-- <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
                 <option [ngValue]="10">10 items per page</option>
                 <option [ngValue]="25">25 items per page</option>
                 <option [ngValue]="50">50 items per page</option>
                 <option [ngValue]="10">100 items per page</option>
               </select>
               <ngb-pagination class="ms-3"
                 [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
               </ngb-pagination> -->
             </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


