<div class="card">
   <div class="profile-post">
     <div class="post-header">
       <div class="media"><img class="img-thumbnail rounded-circle me-3" src="{{data.userProfile}}" alt="Generic placeholder image">
         <div class="media-body align-self-center"><a href="social-app">
             <h5 class="user-name">{{data.name}}</h5></a>
           <h6>{{data.time}}</h6>
         </div>
       </div>
       <div class="post-setting"><i class="fa fa-ellipsis-h"></i></div>
     </div>
     <div class="post-body">
       <div class="img-container">
         <div class="my-gallery" itemscope="">
           <figure itemprop="associatedMedia" itemscope=""><a href="{{data.post}}" itemprop="contentUrl" data-size="1600x950"><img class="img-fluid rounded" src="assets/images/user-profile/post1.jpg" itemprop="thumbnail" alt="gallery"></a>
           </figure>
         </div>
       </div>
       <div class="post-react">
         <ul>
           <li><img class="rounded-circle" src="assets/images/user/3.jpg" alt=""></li>
           <li><img class="rounded-circle" src="assets/images/user/5.jpg" alt=""></li>
           <li><img class="rounded-circle" src="assets/images/user/1.jpg" alt=""></li>
         </ul>
         <h6>+{{data.reactPost}} people react this post</h6>
       </div>
       <p>{{data.dec}}</p>
       <ul class="post-comment">
         <li>
           <label><a href="#"><i data-feather="heart"></i>&nbsp;&nbsp;Like<span class="counter">{{data.like}}</span></a></label>
         </li>
         <li>
           <label><a href="#"><i data-feather="message-square"></i>&nbsp;&nbsp;Comment<span class="counter">{{data.comment}}</span></a></label>
         </li>
         <li>
           <label><a href="#"><i data-feather="share"></i>&nbsp;&nbsp;share<span class="counter">{{data.share}}</span></a></label>
         </li>
       </ul>
     </div>
   </div>
 </div>