<div class="container-fluid faq-section">
   <div class="row">
     <div class="col-12">
       <app-help-board></app-help-board>
     </div>
     <app-faq-top-part></app-faq-top-part>
     <div class="col-sm-12">
       <div class="header-faq">
         <h5 class="mb-0">knowledge articles by category</h5>
       </div>
       <div class="row browse">
        <ng-container *ngFor="let category of categories">
          <div class="col-xl-4 xl-50 col-md-6">
            <div class="browse-articles">
              <h6><span><i data-feather="archive"></i></span>{{category.title}}</h6>
              <ul>
                <ng-container *ngFor="let point of category.points">
                  <li><a routerLink="/knowledgebases/knowledge-detail">
                      <h5><i data-feather="file-text"></i>{{point}}</h5></a></li>
                </ng-container>
              </ul>
            </div>
          </div>
        </ng-container>
       </div>
     </div>
   </div>
 </div>