<ng-container *ngFor="let button of buttonSize">
   <div class="col-12">
     <div class="card">
       <div class="card-header">
         <h5>{{ button.title }}</h5>
       </div>
       <div class="card-body btn-group-showcase">
         <div class="row">
           <ng-container *ngFor="let btn of button.btnGroup">
             <div class="col-xl-6 col-sm-12">
               <div
                 class="btn-group {{ button.btnShape }}"
                 role="group"
                 aria-label="Basic example"
                 *ngFor="let b of btn.btnClass"
               >
                 <button
                   class="btn btn-{{ b }} {{ button.btnClassSize }}"
                   type="button"
                 >
                   Left
                 </button>
                 <button
                   class="btn btn-{{ b }} {{ button.btnClassSize }}"
                   type="button"
                 >
                   Middle
                 </button>
                 <button
                   class="btn btn-{{ b }} {{ button.btnClassSize }}"
                   type="button"
                 >
                   Right
                 </button>
               </div>
             </div>
           </ng-container>
           <div class="col-xl-6 col-sm-12 button-group-mb-sm">
             <div class="btn-group" role="group" aria-label="Basic example">
               <button class="btn btn-dark btn-lg" type="button">
                 Left
               </button>
               <button class="btn btn-dark btn-lg" type="button">
                 Middle
               </button>
               <button class="btn btn-dark btn-lg" type="button">
                 Right
               </button>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </ng-container>