<label>Home Address</label>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <input class="form-control" type="text" placeholder="Address">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input class="form-control" id="city" type="text" placeholder="City">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input class="form-control" type="text" placeholder="State">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div>
                      <input class="form-control" type="text" placeholder="Country">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div>
                      <input class="form-control" type="text" placeholder="Pin Code">
                    </div>
                  </div>
                </div>