<div class="card">
   <div class="card-header pb-0">
     <h5>Advanced SMIL Animations</h5>
   </div>
   <div class="card-body">
     <div class="ct-6 flot-chart-container">
      <x-chartist [configuration]="chart1" ></x-chartist>
     </div>
   </div>
 </div>