<div class="card">
   <div class="card-header">
     <h5>Hoverable rows with Horizontal Border</h5><span>Hoverable row use a class <code>table-hover</code> and for Horizontal border use a class <code>.table-border-horizontal</code> , Solid border Use a class <code>.border-solid</code> <code>.table</code> class.</span>
   </div>
   <div class="table-responsive">
     <table class="table table-hover table-border-horizontal">
       <thead>
         <tr>
           <th scope="col">Id</th>
           <th scope="col">Status</th>
           <th scope="col">Signal Name</th>
           <th scope="col">Security</th>
           <th scope="col">Stage</th>
           <th scope="col">Schedule</th>
           <th scope="col">Team Lead</th>
         </tr>
       </thead>
       <tbody>
        <ng-container *ngFor="let data of table">
          <tr>
            <th scope="row">{{data.id}}</th>
            <td [ngClass]="{'font-success' : data.status === 'Online', 'font-primary' : data.status === 'No Signal', 'font-danger' : data.status === 'Offline'}"> 
              <div class="media align-items-center hover-icon">
                <div class="{{data.bgClass}} me-2">
                  <app-feather-icons [icon]=data.icon></app-feather-icons>
                </div>
                {{data.status}}
              </div>
            </td>
            <td>{{data.signalName}}</td>
            <td>{{data.security}}</td>
            <td>{{data.stage}}</td>
            <td>{{data.schedule}}</td>
            <td>{{data.teamLead}}</td>
          </tr>
        </ng-container>
       </tbody>
     </table>
   </div>
 </div>