<div class="file-content">
  <div class="card">
    <div class="card-header">
      <div class="media">
        <form class="form-inline" action="#" method="get">
          <div class="form-group d-flex mb-0"><i class="fa fa-search"></i>
            <input class="form-control-plaintext" type="text" placeholder="Search...">
          </div>
        </form>
        <div class="media-body text-end">
          <form class="d-inline-flex" action="#" method="POST" enctype="multipart/form-data" name="myForm">
            <div class="btn btn-primary" > <i data-feather="plus-square"></i>Add New</div>
            <div style="height: 0px;width: 0px; overflow:hidden;">
              <input id="upfile" type="file">
            </div>
          </form>
          <div class="btn btn-outline-primary ms-2"><i data-feather="upload">   </i>Upload  </div>
        </div>
      </div>
    </div>
    <div class="card-body file-manager">
      <h5>Quick Access</h5>
      <ul class="quick-file d-flex">
       <ng-container *ngFor="let file of Quickdata">
         <li>
           <div class="quick-box">
             <i class="fa {{file.icon}} font-{{file.iconColor}}" aria-hidden="true"></i>
           </div>
           <h6>{{file.folderName}}</h6>
         </li>
       </ng-container>
      </ul>
      <h5 class="mt-4">Folders</h5>
      <ul class="folder">
       <ng-container *ngFor="let folder of FoldersData">
         <li class="folder-box">
           <div class="d-block">
             <i class="fa fa-{{folder.icon}} f-44 txt-warning"></i>
             <div class="mt-3">
               <i class="fa fa-ellipsis-v ellips" aria-hidden="true"></i>
               <h6 class="mb-1">{{folder.folderName}}</h6>
               <p>{{folder.fileSize}}
                 <span class="pull-right"><i class="fa fa-clock-o" aria-hidden="true"></i>
                   {{folder.filetime}}</span>
               </p>
             </div>
           </div>
         </li>
       </ng-container>
      </ul>
      <h5 class="mt-4">Files</h5>
      <ul class="files-content">
       <ng-container *ngFor="let file of FilesData">
         <li>
           <div class="d-flex align-items-center files-list">
             <div class="flex-shrink-0 file-left">
               <i class="fa {{file.icon}} font-{{file.iconColor}} f-22" aria-hidden="true"></i>
             </div>
             <div class="flex-grow-1 ms-3">
               <h6 class="mb-1">{{file.fileName}}</h6>
               <p>{{file.lastOpen}}, {{file.fileSize}}</p>
             </div>
           </div>
         </li>
       </ng-container>
      </ul>
    </div>
  </div>
</div>