.e-learn{
    background-color: #e4f7fe;
    background-image: url(../../../../assets/images/e-learn1.png);
    background-position: right center;
    background-size: 100px 110px;
    background-repeat: no-repeat;
    margin: 0px 0px 0px 12px;
}