<form [formGroup]="questionForm" class="form theme-form">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="product-info">
              <div class="product-group">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="mb-3">
                      <label class="form-label" for="bsatExamTestId"> Select Test </label>
                      <select formControlName="bsatExamTestId" placeholder="Category ID" class="form-select" id="categoryId"
                      (change)="changeTestId()"  name="bsatExamTestId" required >
                      <option value="" disabled selected>Select</option>
                     <option *ngFor="let item of TestDetails" [ngValue]="item._id">
                       {{item.bsatExamTestName}}
                     </option>
                   </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="mb-3">
                      <label class="form-label" for="categoryId">Question</label>
                      <textarea name="" id="" cols="30" rows="3" class="form-control"
                        formControlName="question"></textarea>
                    </div>
                  </div>
                </div>
                <div formArrayName="options">
                  <div *ngFor="let item of optionControls; let i = index">
                    <div [formGroupName]="i" class="row">
                      <div class="input-group row">
                        <div class="col-lg text-center">
                         <label for="">Is Correct?</label>
                         <div class="form-check d-flex justify-content-center align-items-center">
                           <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                             formControlName="isCorrect"  (change)="onIsCorrectChange(i)" />
                         </div>
                        </div>
       
                         <div class="col-lg-9">
                           <label for="">Enter Option</label>
                           <input type="text" [id]="'optionText' + i" class="form-control" formControlName="optionText" />
                         &nbsp;&nbsp;
                         </div>
       
                         <div class="col-lg d-flex align-items-center pt-2">
                           <div class="input-group-append">
                             <i class="fa fa-minus-square-o fs-2" (click)="removeOption(i)" *ngIf="i>0"></i>&nbsp;
                             <i class="fa fa-plus-square-o fs-2" (click)="addOption()"></i>
                           </div>
                         </div>
                       </div>
                  </div>
                  </div>
                <div class="col-12 d-flex justify-content-end mt-2">
                  <div>
                    <button type="submit" class="btn btn-success" [disabled]="!questionForm.valid" *ngIf="this.isEditClicked == false"
                      (click)="createQuestion()">
                      Submit</button>&nbsp;
                    <button type="submit" class="btn btn-success" [disabled]="!questionForm.valid" *ngIf="this.isEditClicked == true"
                      (click)="updateQuestion()">
                      Update</button>&nbsp;
                    <button type="submit" class="btn btn-outline-danger" (click)="clear()">
                      Clear
                    </button>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>
     </form>         
  