<div class="container-fluid list-products">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header pb-0">
            <div class="d-flex justify-content-end">
              <button [routerLink]="['/admin-panel/bharat-sat/add-scholarship']" class="btn btn-success" type="button"
                data-original-title="btn btn-success btn-xs" title="">
                Add Data
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive custom-scrollbar" style="max-height: 400px; overflow-y: auto;">
              <form>
                <table class="table table-hover table-border-horizontal" id="basic-1">
                  <thead>
                    <tr>
                      <th  scope="col">Class Name</th>
                      <th  scope="col">Exam Fee</th>
                      <th  scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="odd" *ngFor="let item of subjectDetails">
                      <td class="sorting_1">
                        <p>Class {{ item.classId }}</p>
                      </td>
                      <td class="sorting_1">
                        <p>{{ item.examFee}}</p>
                      </td>
                      <td class="sorting_1">
                        <button [routerLink]="['/admin-panel/bharat-sat/add-scholarship']" class="btn btn-primary btn-xs"
                          type="button" data-original-title="btn btn-danger btn-xs" (click)="editTheForm(item)" title="">
                          <i class="fa fa-edit"></i>
                        </button> &nbsp;
                        <button class="btn btn-danger btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
                          title="" (click)="deleteChapter(item._id)">
                          <i class="fa fa-trash-o"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isModalOpen" class="fullscreen-modal" (click)="closeModal()">
    <div class="fullscreen-modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Study Material</h4>
        <button type="button" class="btn btn-warning pull-right" aria-label="Close" (click)="closeModal()">
          Close 
        </button>
      </div>
      <div class="modal-body">
        <div [innerHTML]="selectedDataToView"></div>
      </div>
    </div>
  </div>


