<div class="card">
   <div class="card-header pb-0">
     <h5>Donut Chart</h5>
   </div>
   <div class="card-body apex-chart">
     <div id="donutchart">
      <apx-chart 
      [chart]="donutChart.chart"
      [colors]="donutChart.colors"
      [series]="donutChart.series"
      [responsive]="donutChart.responsive">
      </apx-chart>
     </div>
   </div>
 </div>