<div class="student-profile py-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent text-center">
              <img class="profile_img" src="../../../assets/images/user-profile.png" alt="">
              <h3>{{studentDetails.firstName}} {{studentDetails.middleName}} {{studentDetails.lastname}}</h3>
            </div>
            <div class="card-body">
              <p class="mb-0"><strong class="pr-1">User ID:</strong>&nbsp;{{studentDetails.userId}}</p>
              <p class="mb-0"><strong class="pr-1">Class:</strong>&nbsp;{{studentDetails.class}}</p>
              <!-- <p class="mb-0"><strong class="pr-1">Section:</strong>A</p> -->
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0"><i class='bx bx-clipboard me-2'></i>General Information</h3>
            </div>
            <div class="card-body pt-0">
              <table class="table table-bordered">
                <tr>
                  <th width="30%">Email</th>
                  <td width="2%">:</td>
                  <td>&nbsp;{{studentDetails.email}}</td>
                </tr>
                <tr>
                  <th width="30%">Gender</th>
                  <td width="2%">:</td>
                  <td>&nbsp;{{studentDetails.gender}}</td>
                </tr>
                <tr>
                  <th width="30%">Mobile number</th>
                  <td width="2%">:</td>
                  <td>&nbsp;{{studentDetails.mobileNo}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>