<button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" (click)="VerticallyCenteredModal(verticallyContent)">Vertically centered</button>

<ng-template #verticallyContent let-modal>
   <div class="modal-header">
     <h5 class="modal-title">Modal title</h5>
     <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>    
   </div>
   <div class="modal-body">
     <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
   </div>
   <div class="modal-footer">
     <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
     <button class="btn btn-primary" type="button">Save changes</button>
   </div>
</ng-template>