<div class="card">
    <div class="card-body">
        <div class="product-info">
            <form [formGroup]="UserForm" class="form theme-form">
                <div class="product-group">
                    <div class="row">
                        <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                                <label class="form-label" for="firstName">First Name</label>
                                <input class="form-control" id="firstName" formControlName="firstName"
                                    placeholder="First Name" type="text" required>
                                <div *ngIf="UserForm.get('firstName')!.touched && UserForm.get('firstName')!.hasError('required')"
                                    class="text text-danger mt-1">
                                    First Name is required
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                                <label class="form-label" for="middleName">Middle Name</label>
                                <input class="form-control" id="middleName" formControlName="middleName"
                                    placeholder="Middle Name" type="text" required>
                                <div *ngIf="UserForm.get('middleName')!.touched && UserForm.get('middleName')!.hasError('required')"
                                    class="text text-danger mt-1">
                                    Middle Name is required
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                                <label class="form-label" for="lastname">Last Name</label>
                                <input class="form-control" id="lastname" formControlName="lastname"
                                    placeholder="Last Name" type="text" required>
                                <div *ngIf="UserForm.get('lastname')!.touched && UserForm.get('lastname')!.hasError('required')"
                                    class="text text-danger mt-1">
                                    Last Name is required
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                                <label class="form-label" for="email">Email</label>
                                <input class="form-control" id="email" formControlName="email" placeholder="Email"
                                    type="text" required>
                                <div *ngIf="UserForm.get('email')!.touched && UserForm.get('email')!.hasError('required')"
                                    class="text text-danger mt-1">
                                    Email is required
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                                <label class="form-label" for="mobileNo">Mobile No</label>
                                <input class="form-control" id="mobileNo" formControlName="mobileNo"
                                    placeholder="Subject Name" type="text" required>
                                <div *ngIf="UserForm.get('mobileNo')!.touched && UserForm.get('mobileNo')!.hasError('required')"
                                    class="text text-danger mt-1">
                                    Mobile No is required
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                                <label class="form-label" for="address1">Address 1</label>
                                <input class="form-control" id="address1" formControlName="address1"
                                    placeholder="Address 1" type="text" required>
                                <div *ngIf="UserForm.get('address1')!.touched && UserForm.get('address1')!.hasError('required')"
                                    class="text text-danger mt-1">
                                    Address 1 is required
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                                <label class="form-label" for="address2">Address 2</label>
                                <input class="form-control" id="address2" formControlName="address2"
                                    placeholder="Address 2" type="text" required>
                                <div *ngIf="UserForm.get('address2')!.touched && UserForm.get('address2')!.hasError('required')"
                                    class="text text-danger mt-1">
                                    Address 2 is required
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                                <label class="form-label" for="state">State</label>
                                <input class="form-control" id="state" formControlName="state" placeholder="State"
                                    type="text" required>
                                <div *ngIf="UserForm.get('state')!.touched && UserForm.get('state')!.hasError('required')"
                                    class="text text-danger mt-1">
                                    State is required
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                                <label class="form-label" for="pincode">Pincode</label>
                                <input class="form-control" id="pincode" formControlName="pincode" placeholder="Pincode"
                                    type="text" required>
                                <div *ngIf="UserForm.get('pincode')!.touched && UserForm.get('pincode')!.hasError('required')"
                                    class="text text-danger mt-1">
                                    Pincode is required
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                                <label class="form-label" for="DOB">Date of Birth</label>
                                <input class="form-control" id="DOB" formControlName="DOB" placeholder="Subject Name"
                                    type="date" required>
                                <div *ngIf="UserForm.get('DOB')!.touched && UserForm.get('DOB')!.hasError('required')"
                                    class="text text-danger mt-1">
                                    Date of Birth is required
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                                <label class="form-label" for="gender">Gender</label>
                                <!-- <input class="form-control" id="gender" formControlName="gender" placeholder="Gender"
                                    type="text" required> -->
                                    <select class="form-select" formControlName="gender">
                                        <option [value]="null" disabled>Select gender</option>
                                        <option value="male" >
                                            Male
                                        </option>
                                        <option value="female">
                                            Female
                                        </option>
                                        <option value="other">
                                            Other
                                        </option>
                                    </select>
                                <div *ngIf="UserForm.get('gender')!.touched && UserForm.get('gender')!.hasError('required')"
                                    class="text text-danger mt-1">
                                    Gender is required
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12" *ngIf="!isEditClicked">
                            <div class="mb-3">
                                <label class="form-label" for="userId">User Name</label>
                                <input class="form-control" id="userId" formControlName="userId" placeholder="User Name"
                                    type="text" required>
                                <div *ngIf="UserForm.get('userId')!.touched && UserForm.get('userId')!.hasError('required')"
                                    class="text text-danger mt-1">
                                    User Type is required
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12" *ngIf="!isEditClicked">
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" id="password" formControlName="password"
                                    placeholder="Password" type="text" required>
                                <div *ngIf="UserForm.get('password')!.touched && UserForm.get('password')!.hasError('required')"
                                    class="text text-danger mt-1">
                                    User Type is required
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12" *ngIf="!isEditClicked">
                            <div class="mb-3">
                                <label class="form-label" for="confirmpassword">Confirm Password</label>
                                <input class="form-control" id="confirmpassword" formControlName="confirmpassword"
                                    placeholder="Confirm Password" type="text" required>
                                <div *ngIf="UserForm.get('confirmpassword')!.touched && UserForm.get('confirmpassword')!.hasError('required')"
                                    class="text text-danger mt-1">
                                    User Type is required
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                                <label class="form-label" for="categoryId">Class</label>
                                <select class="form-select" formControlName="class">
                                    <option [value]="null" disabled>Select Class</option>
                                    <option *ngFor="let c of classes" [value]="c.key">
                                        {{ c.value }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                                <label class="form-label" for="schoolName">School Name</label>
                                <input class="form-control" id="schoolName" formControlName="schoolName"
                                    placeholder="School Name" type="text" required>
                                <div *ngIf="UserForm.get('schoolName')!.touched && UserForm.get('schoolName')!.hasError('required')"
                                    class="text text-danger mt-1">
                                    School is required
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12" >
                            <div class="mb-3">
                                <label class="form-label" for="coordinatorCode">Coordinator Code</label>
                                <input class="form-control" id="coordinatorCode" formControlName="coordinatorCode"
                                    placeholder="Coordinator Code" type="text" >
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                                <label class="form-label" for="categoryId">Medium</label>
                                <select class="form-select" formControlName="medium">
                                    <option [value]="null" disabled>Select Class</option>
                                    <option *ngFor="let c of medium" [value]="c.key">
                                        {{ c.value }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-end mt-2">
                    <button type="submit" class="btn btn-success me-2" *ngIf="this.isEditClicked == false" 
                    [disabled]="!UserForm.valid"
                        (click)="createSubject()">Submit</button>
                    <button type="submit" class="btn btn-success me-2" *ngIf="this.isEditClicked == true"
                    [disabled]="!UserForm.valid"
                        (click)="updateSubject()">Update</button>
                    <button type="submit" class="btn btn-outline-danger" (click)="clear()">Clear</button>
                </div>
            </form>
        </div>
    </div>
</div>

<app-loader-design></app-loader-design>