<div class="card height-equal overflow-visible">
   <div class="card-header pb-0">
     <h5>Section and Separator</h5>
   </div>
   <div class="card-body">
     <ul class="icon-lists border navs-icon">
       <li>
         <h5 class="mb-0">General</h5>
       </li>
       <li><a href="javascript:void(0)"><i data-feather="home"></i><span> Dashboard</span></a></li>
       <li class="pb-0"><a href="javascript:void(0)"><i data-feather="airplay"></i><span> Widgets</span></a></li>
       <li class="main-section">
         <h5 class="mb-0">Layout</h5>
       </li>
       <li><a href="javascript:void(0)"><i data-feather="sidebar"></i><span> Sidebar</span></a></li>
       <li><a href="javascript:void(0)"><i data-feather="layout"></i><span> Page Layout</span></a></li>
       <li class="pb-0"><a href="javascript:void(0)"><i data-feather="cloud-lightning"></i><span> Footers</span></a></li>
       <li class="separator"></li>
       <li class="pt-0">
         <button class="btn btn-pill btn-outline-primary">Log Out</button>
       </li>
     </ul>
     <div class="onhover-dropdown navs-dropdown">
       <button class="btn btn-primary onhover-dropdown">Dropdown example <i class="icon-arrow-down ms-1"></i></button>
       <div class="onhover-show-div separator">
         <ul class="icon-lists navs-icon">
           <li>
             <h5 class="mb-0">General</h5>
           </li>
           <li><a href="javascript:void(0)"><i data-feather="home"></i><span> Dashboard</span></a></li>
           <li><a href="javascript:void(0)"><i data-feather="airplay"></i><span> Widgets</span></a></li>
           <li class="main-section">
             <h5 class="mb-0">Layout</h5>
           </li>
           <li><a href="javascript:void(0)"><i data-feather="sidebar"></i><span> Sidebar</span></a></li>
           <li><a href="javascript:void(0)"><i data-feather="layout"></i><span> Page Layout</span></a></li>
           <li class="pb-0"><a href="javascript:void(0)"><i data-feather="cloud-lightning"></i><span> Footers</span></a></li>
           <li class="separator"></li>
           <li class="pt-0">
             <button class="btn btn-pill btn-outline-primary">Log Out</button>
           </li>
         </ul>
       </div>
     </div>
   </div>
 </div>