<div class="card">
    <div class="card-body">
        <div class="product-info">
            <form [formGroup]="coordinatorForm" class="form theme-form">
                <div class="product-group">
                    <div class="row">
                        <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                                <label class="form-label" for="name">Name</label>
                                <input class="form-control" id="name" formControlName="name"
                                    placeholder="First Name" type="text" required>
                                <div *ngIf="coordinatorForm.get('name')!.touched && coordinatorForm.get('name')!.hasError('required')"
                                    class="text text-danger mt-1">
                                     Name is required
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                                <label class="form-label" for="DOB">Date of Birth</label>
                                <input class="form-control" id="DOB" formControlName="DOB"
                                    placeholder="Subject Name" type="date" required>
                                <div *ngIf="coordinatorForm.get('DOB')!.touched && coordinatorForm.get('DOB')!.hasError('required')"
                                    class="text text-danger mt-1">
                                    Date of Birth is required
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                                <label class="form-label" for="age">Age</label>
                                <input class="form-control" id="age" formControlName="age"
                                    placeholder="Age" type="text" required>
                                <div *ngIf="coordinatorForm.get('age')!.touched && coordinatorForm.get('age')!.hasError('required')"
                                    class="text text-danger mt-1">
                                    Age is required
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                                <label class="form-label" for="email">Email</label>
                                <input class="form-control" id="email" formControlName="email"
                                    placeholder="Email" type="text" required>
                                <div *ngIf="coordinatorForm.get('email')!.touched && coordinatorForm.get('email')!.hasError('required')"
                                    class="text text-danger mt-1">
                                    Email is required
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                                <label class="form-label" for="mobileNo">Mobile No</label>
                                <input class="form-control" id="mobileNo" formControlName="mobileNo"
                                    placeholder="Mobile No" type="text" required >
                                <div *ngIf="coordinatorForm.get('mobileNo')!.touched && coordinatorForm.get('mobileNo')!.hasError('required')"
                                    class="text text-danger mt-1">
                                    Mobile No is required
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                                <label class="form-label" for="twelfthPass">Twelth Pass</label>
                                <select name="" id="" class="form-select" formControlName="twelfthPass">
                                    <option value="true">Pass</option>
                                    <option value="false">Fail</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-end mt-2">
                    <button type="submit" class="btn btn-success me-2"  [disabled]="!coordinatorForm.valid"  *ngIf="this.isEditClicked == false"
                     (click)="createSubject()">Submit</button>
                     <button type="submit" class="btn btn-success me-2" [disabled]="!coordinatorForm.valid"  *ngIf="this.isEditClicked == true"
                     (click)="updateSubject()">Update</button>
                     <button type="submit" class="btn btn-outline-danger"
                     (click)="clear()">Clear</button>
                </div>
            </form>
        </div>
    </div>
</div>

<app-loader-design></app-loader-design>

