<div class="container-fluid">
   <div class="row">
     <div class="col-sm-12">
       <div class="card">
         <div class="card-header pb-0">
           <h5 class="m-b-0">Flag Icons</h5>
         </div>
         <div class="card-body">
           <div class="row icon-lists flag-icons">
             <div class="col-12 col-sm-6 col-xl-4"  *ngFor="let i of icon" (click)="toggleWithInfo(i.abbrivation)">
               <div class="media"><i class="flag-icon flag-icon-{{i.abbrivation}}"></i>
                 <div class="media-body align-self-center">
                   <h5>{{i.abbrivation|uppercase}}</h5>
                   <h6 class="mt-0">{{i.name}}</h6>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
<div class="icon-hover-bottom p-fixed" *ngIf="detail">
  <div class="container-fluid">
    <div class="row">
      <div class="icon-popup">      
        <div class="close-icon"><i class="icofont icofont-close" (click)="detail=false"></i></div>
        <div class="icon-first"><i class="flag-icon flag-icon-{{flag}} fa-2x"></i></div>
        <div class="icon-class">
          <label class="icon-title">Class</label><span id="fclass1">flag-icon flag-icon-{{flag}}</span>
        </div>
        <div class="icon-last icon-last">
          <label class="icon-title">Markup </label>
          <div class="form-inline">
            <div class="form-group">
              <input class="inp-val form-control m-r-10" type="text" value="{{val}}" readonly="readonly">
              <button class="btn btn-primary notification" (click)="copyText(flag)" >Copy text</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>