<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header pb-0">
          <h5>Map at a specified location with Marker</h5>
        </div>
        <div class="card-body">
          <google-map width="100%" height="500px" [zoom]="zoom">
            <map-marker
              *ngFor="let marker of markers"
              [position]="marker.position"
              [label]="marker.label"
            >
            </map-marker>
          </google-map>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header pb-0">
          <h5>MultiLanguage Map</h5>
        </div>
        <div class="card-body">
          <google-map height="500px" width="100%" [zoom]="zoom">
            <map-marker
              #markerElem
              *ngFor="let marker of markers"
              [position]="marker.position"
              [label]="marker.label"
              [title]="marker.title"
              [options]="marker.options"
              (mapClick)="openInfo(markerElem, marker.info)"
            >
            </map-marker>
          </google-map>
        </div>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header pb-0">
          <h5>Street View</h5>
        </div>
        <div class="card-body">
          <google-map height="500px" width="100%"></google-map>
        </div>
      </div>
    </div>
  </div>
</div>
