<div class="card">
   <div class="card-header pb-0">
     <h5>Mixed Chart</h5>
   </div>
   <div class="card-body">
     <div id="mixedchart">
      <apx-chart 
      [chart]="mixedChart.chart"
      [stroke]="mixedChart.stroke"
      [plotOptions]="mixedChart.plotOptions"
      [series]="mixedChart.series"
      [fill]="mixedChart.fill"
      [labels]="mixedChart.labels"
      [markers]="mixedChart.markers"
      [xaxis]="mixedChart.xaxis"
      [yaxis]="mixedChart.yaxis"
      [tooltip]="mixedChart.tooltip"
      [legend]="mixedChart.legend"
      [colors]="mixedChart.colors">
      </apx-chart>
     </div>
   </div>
 </div>