<div class="card">
    <div class="card-header pb-0">
      <h5>With badges</h5>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">Cras justo odio<span
            class="badge badge-primary counter digits">14</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Dapibus ac facilisis in<span
            class="badge badge-secondary counter digits">2</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Morbi leo risus<span
            class="badge badge-success rounded-pill counter digits">1</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Dapibus ac facilisis in<span
            class="badge badge-info rounded-pill digits">100%</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Dapibus ac facilisis in<span
            class="badge badge-warning counter digits">2</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Morbi leo risus<span
            class="badge badge-danger rounded-pill digits">sale</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Cras justo odio<span
            class="badge badge-light counter digits">14</span></li>
      </ul>
    </div>
  </div>