:host ::ng-deep .ck-editor__editable_inline {
  min-height: 30vh;
}

select[formControlName="classId"] option:disabled {
  background-color: #f0f0f0; /* Change this to your desired background color */
}
