<div class="card">
   <div class="card-header faq-header">
     <h5 class="d-inline-block ps-0">Latest Updates</h5><span class="pull-right d-inline-block">See All</span>
   </div>
   <div class="card-body faq-body">
     <div class="media updates-faq-main">
       <div class="updates-faq"><i class="font-primary" data-feather="rotate-cw"></i></div>
       <div class="media-body updates-bottom-time">
         <p><a href="javascript:void(0)">David Linner </a>requested money back for a double debit card charge</p>
         <p>10 minutes ago</p>
       </div>
     </div>
     <div class="media updates-faq-main">
       <div class="updates-faq"><i class="font-primary" data-feather="dollar-sign"></i></div>
       <div class="media-body updates-bottom-time">
         <p>All sellers have received monthly payouts</p>
         <p>2 hours ago</p>
       </div>
     </div>
     <div class="media updates-faq-main">
       <div class="updates-faq"><i class="font-primary" data-feather="link"></i></div>
       <div class="media-body updates-bottom-time">
         <p>User Christopher <a href="javascript:void(0)">Wallace</a> is on hold and awaiting for staff reply</p>
         <p>45 minutes ago</p>
       </div>
     </div>
     <div class="media updates-faq-main">
       <div class="updates-faq"><i class="font-primary" data-feather="check"></i></div>
       <div class="media-body updates-bottom-time">
         <p>Ticket #43683 has been closed by <a href="javascript:void(0)">Victoria Wilson</a></p>
         <p>Dec 7, 11:48</p>
       </div>
     </div>
   </div>
</div>