// .row{
// height: 50vh;
// }

// .table{
//     width: 500px;
// }

// .card{
//     height:70vh;
// }

// .hover-card:hover {
//     transform: scale(1.05);
//     transition: transform 0.3s ease-in-out;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//     background-color: #d8ffec58; 
// }

// .option-row{
//     height: 55px;
//     width: 70%;
// }
