<div class="container-fluid list-products">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive custom-scrollbar" style="max-height: 400px; overflow-y: auto;">
                        <form>
                            <table class="table table-hover table-border-horizontal" id="basic-1">
                                <thead>
                                    <tr>
                                        <th class="" scope="col">Name</th>
                                        <th class="" scope="col">Class</th>
                                        <th class="" scope="col">Medium</th>
                                        <th class="" scope="col">Email</th>
                                        <th class="" scope="col">Mobile No</th>
                                        <th class="" scope="col">Paid Amount (Rs.)</th>
                                        <th class="" scope="col">Payment Status</th>
                                        <th class="" scope="col">Payment Id</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd" *ngFor="let item of userDetails; let i = index">
                                        <td class="sorting_1">
                                            <p class="text-dark">{{item.userId.firstName + ' ' + item.userId.middleName + ' ' + item.userId.lastname}}</p>
                                        </td>
                                        <td class="sorting_1">
                                            <p class="text-dark">Class {{item.userId.class}}</p>
                                        </td>
                                        <td class="sorting_1">
                                            <p class="text-dark">{{item.userId.medium}}</p>
                                        </td>
                                        <td class="sorting_1">
                                            <p class="text-dark">{{item.userId.email}}</p>
                                        </td>
                                        <td class="sorting_1">
                                            <p class="text-dark">{{item.userId.mobileNo}}</p>
                                        </td>
                                        <td class="sorting_1">
                                            <p class="text-dark">{{item.totalAmount}}</p>
                                        </td>
                                        <td class="sorting_1">
                                            <p class="text-dark">{{item.paymentStatus}}</p>
                                        </td>
                                        <td class="sorting_1">
                                            <p class="text-dark">{{item.razorpayResData.razorpay_payment_id}}</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-between mt-2">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-loader-design></app-loader-design>