<div class="card">
   <div class="card-header social-header">
   <h5> <span class="f-w-600">Education and Employement</span><span class="pull-right"><app-feather-icons [icon]="'more-vertical'"></app-feather-icons></span></h5>
   </div>
   <div class="card-body pt-0">
      <div class="row details-about">
         <ng-container *ngFor="let education of educationData">
            <div class="col-sm-6">
               <div class="your-details">
               <h6 class="f-w-600">{{education.title}}</h6>
               <p>{{education.date}}</p>
               <p>{{education.desc}}</p>
               </div>
            </div>
         </ng-container>
      </div>
   </div>
</div>