/* Add borders to table */
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  /* Add borders to table header cells */
  th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Add borders to table data cells */
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  
  /* Add alternate background color to odd rows */
  // tr:nth-child(odd) {
  //   background-color: #f2f2f2;
  // }

  input[type="file"] {
    display: none; /* Hide the default file input */
  }
  
  .custom-file-input {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #030767;
    border: 1px solid #030767;
    border-radius: 4px;
    color: white;
  }
  
  .custom-file-input:hover {
    background-color: #030767;
  }
  
  .custom-file-input:active {
    background-color: #030767;
  }
  
  .custom-file-input:before {
    content: "Bulk Upload"; /* Set the button text */
    display: inline-block;
    // font-size: 18px;
    padding: 2px 10px;
  }
  
  .custom-file-input1 {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #030767;
    border: 1px solid #030767;
    border-radius: 4px;
    color: white;
  }
  
  .custom-file-input1:hover {
    background-color: #030767;
  }
  
  .custom-file-input1:active {
    background-color: #030767;
  }
  
  .bi {
    vertical-align: text-bottom;
  }
  