<div class="container-fluid list-products">
  <div class="row">
    <!-- Individual column searching (text inputs) Starts-->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-lg-3">
              <select class="form-select" (change)="loadMockTestByClassAndMedium()" [(ngModel)]="selectedClass">
                <option [value]="null" disabled>Select Class</option>
                <option *ngFor="let c of classes" [value]="c.key">
                  {{ c.value }}
                </option>
              </select>
            </div>
            <div class="col-lg-3">
              <select class="form-select" (change)="loadMockTestByClassAndMedium()" [(ngModel)]="selectedMedium">
                <option [value]="null" disabled>Select Medium</option>
                <option *ngFor="let c of medium" [value]="c.key">
                  {{ c.value }}
                </option>
              </select>
            </div>
            <div class="col-lg-3">
              <select class="form-select" (change)="loadMockTestQuestionByTestId()" [(ngModel)]="selectedMockTest">
                <option [value]="null" disabled>Select Test</option>
                <option *ngFor="let c of TestDetails" [value]="c._id">
                  {{ c.testName }}
                </option>
              </select>
            </div>
            <div class="col-lg-3 d-flex justify-content-end">
              <!-- <input type="file" id="fileInput" (change)="bulkUpload($event)" style="display: none" />
              <label for="fileInput" class="btn btn-outline-primary border d-flex align-items-center font-12"
                style="cursor: pointer">
                <i class="bi bi-upload pe-2"></i>
                Bulk Upload
              </label> -->
              &nbsp;&nbsp;
              <button [routerLink]="['/admin-panel/mock-test/add-question']" class="btn btn-success py-1" type="button"
                data-original-title="btn btn-success btn-xs" title="">
                Add Data
              </button>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="table-responsive">
            <form>
              <table class="table table-hover table-border-horizontal" id="basic-1">
                <thead>
                  <tr>
                    <th scope="col">Que.No</th>
                    <th scope="col">Question</th>
                    <th scope="col">Options Image</th>
                    <th scope="col">Options Available</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="odd" *ngFor="let item of mockTestQuestions; let i = index">
                    <td class="sorting_1">
                      {{ i + 1 }}
                    </td>

                    <td class="sorting_1">
                      <div [innerHTML]="item.question"></div>
                    </td>

                    <td class="sorting_1 d-flex justify-content-between"><img src="{{item.questionImg}}"
                        alt="{{item.productName}}" onerror="this.src='../../../../../../assets/images/noimage.png'"
                        width="60px" height="60px">
                      <div class="ms-3">
                        <label class="custom-file-input1">
                          <input type="file" (change)="onFileSelected(item._id, $event)">
                          <i class="bi bi-paperclip"></i> Edit
                        </label>
                      </div>
                    </td>

                    <td class="sorting_1">
                      <ul>
                        <li *ngFor="let option of item.optionList; let i = index" [ngClass]="{
                            'text-success fw-semibold': option.isCorrect
                          }">
                          {{ alphabet[i] }}. {{ option.optionValue }}
                        </li>
                      </ul>
                    </td>

                    <td class="sorting_1">
                      <button [routerLink]="['/admin-panel/mock-test/question-list']" class="btn btn-primary btn-xs"
                        type="button" data-original-title="btn btn-danger btn-xs" (click)="editTheForm(item, $event)"
                        title="">
                        <i class="fa fa-edit"></i>
                      </button>
                      &nbsp;
                      <button class="btn btn-danger btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
                        title="" (click)="deleteQuestion(item._id)">
                        <i class="fa fa-trash-o"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="d-flex justify-content-between mt-2">
                <!-- <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
                 <option [ngValue]="10">10 items per page</option>
                 <option [ngValue]="25">25 items per page</option>
                 <option [ngValue]="50">50 items per page</option>
                 <option [ngValue]="10">100 items per page</option>
               </select>
               <ngb-pagination class="ms-3"
                 [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
               </ngb-pagination> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loader-design></app-loader-design>