    <div class="card">
        <div class="card-header pb-0">
            <h5>{{title}}</h5>
        </div>
        <div class="card-body">
            <pre class="helper-classes">
                {{data}}
        </pre>
        </div>
    </div>