 <div class="container-fluid">
   <div class="row">
     <div class="col-sm-12 col-xl-6 box-col-6">
       <app-basic-area-chart></app-basic-area-chart>
     </div>
     <div class="col-sm-12 col-xl-6 box-col-6">
      <app-area-spaline-chart></app-area-spaline-chart>
     </div>
     <div class="col-sm-12 col-xl-6 box-col-6">
       <app-bar-chart></app-bar-chart>
     </div>
     <div class="col-sm-12 col-xl-6 box-col-6">
      <app-column-chart></app-column-chart>
     </div>
     <div class="col-sm-12 col-xl-6 box-col-12">
      <app-bubble-chart></app-bubble-chart>
     </div>
     <div class="col-sm-12 col-xl-6 box-col-12">
      <app-candlestick-chart></app-candlestick-chart>
    </div>
     <div class="col-sm-12 col-xl-6 box-col-6">
      <app-stepline-chart></app-stepline-chart>
     </div>
     <div class="col-sm-12 col-xl-6 box-col-12">
      <app-column-chart></app-column-chart>
     </div>
     <div class="col-sm-12 col-xl-6 box-col-6">
      <app-pie-chart></app-pie-chart>
     </div>
     <div class="col-sm-12 col-xl-6 box-col-6">
      <app-donut-chart></app-donut-chart>
     </div>
     <div class="col-sm-12 col-xl-12 box-col-12">
      <app-mixed-chart></app-mixed-chart>
     </div>
     <div class="col-sm-12 col-xl-6 box-col-6">
      <app-radar-chart></app-radar-chart>
     </div>
     <div class="col-sm-12 col-xl-6 box-col-6">
      <app-radial-chart></app-radial-chart>
      
     </div>
   </div>
 </div>
 