 
<div class="container-fluid">
   <div class="row">
     <div class="col-md-6">
       <div class="card">
         <div class="card-header pb-0">
           <h5><span class="digits">1/10</span> Rating</h5>
         </div>
         <div class="card-body">
           <div class="rating-container digits">
            <div class="br-wrapper br-theme-bars-1to10">
              <bar-rating class="bar" [(rate)]="faRate" [max]="10" [theme]="'horizontal'" [showText]="true"></bar-rating>
            </div>
           </div>
         </div>
       </div>
     </div>
     <div class="col-md-6">
       <div class="card">
         <div class="card-header pb-0">
           <h5>Movie Rating</h5>
         </div>
         <div class="card-body">
           <div class="rating-container">
            <bar-rating [(rate)]="movieRate" [max]="4" [theme]="'movie'"[showText]="true" [titles]="['No rating', 'Bad', 'Mediocre', 'Good', 'Awesome']"></bar-rating>
           </div>
         </div>
       </div>
     </div>
     <div class="col-md-6">
       <div class="card">
         <div class="card-header pb-0">
           <h5>Square Rating</h5>
         </div>
         <div class="card-body">
           <div class="rating-container">
            <bar-rating theme="square" [(rate)]="squareRate" [max]="5"></bar-rating>
           </div>
         </div>
       </div>
     </div>
     <div class="col-md-6">
       <div class="card">
         <div class="card-header pb-0">
           <h5>Star Rating</h5>
         </div>
         <div class="card-body">
           <div class="rating-container">
            <bar-rating class="star" [(rate)]="cssRate" [max]="5"></bar-rating>
           </div>
         </div>
       </div>
     </div>
     <div class="col-md-6">
       <div class="card">
         <div class="card-header pb-0">
           <h5>Horizontal Rating</h5>
         </div>
         <div class="card-body height-equal">
           <div class="rating-container digits">
            <bar-rating [(rate)]="verticalRate" [max]="10" [theme]="'vertical'"></bar-rating>
           </div>
         </div>
       </div>
     </div>
     <div class="col-md-6">
       <div class="card height-equal">
         <div class="card-header pb-0">
           <h5>Star Rating</h5>
         </div>
         <div class="card-body height-equal">
           <div class="rating-container">
             <div class="star-ratings">
               <bar-rating [rate]="faoRate" (rateChange)="onFaoRate($event)" [max]="10">
                  <ng-template ratingActive>
                    <fa-icon [icon]="['fas', 'star']" [fixedWidth]="true" size="lg" style="color: #50e3c2"></fa-icon>
                  </ng-template>
                  <ng-template ratingInactive>
                    <fa-icon [icon]="['far', 'star']" [fixedWidth]="true" size="lg" style="color: #d2d2d2"></fa-icon>
                  </ng-template>
                  <ng-template ratingFraction>
                    <fa-icon [icon]="['fas', 'star-half-alt']" [fixedWidth]="true" size="lg" style="color: #50e3c2"></fa-icon>
                  </ng-template>
                </bar-rating>
                <p></p>
                <p *ngIf="!faoRated">Current rating: {{faoRate}}</p>
                <p *ngIf="faoRated">Your rating: {{faoRate}}
                  <fa-icon class="link" [icon]="['fas', 'times-circle']" size="lg" (click)="faoReset()"></fa-icon>
                </p>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>