<div class="card">
   <div class="card-header">
       <h5>Position</h5>
   </div>
   <div class="card-body">
       <pre class="helper-classes">
.p-static &#123;
position: static;
&#125;
.p-absolute &#123;
position: absolute;
&#125;
.p-fixed &#123;
position: fixed;
&#125;
.p-relative &#123;
position: relative;
&#125;
.p-initial &#123;
position: initial;
&#125;
.p-inherit &#123;
position: inherit;
&#125;
   </pre>
   </div>
</div>