<div class="container-fluid">
   <div class="row">
     <div class="col-md-6">
       <app-progress-bars [bars]="progressBars"></app-progress-bars>
     </div>
     <div class="col-md-6">
      <app-progress-bars [bars]="smallProgressBars"></app-progress-bars>
     </div>
     <div class="col-md-6">
      <app-progress-bars [bars]="customProgressBars"></app-progress-bars>
     </div>
     <div class="col-md-6">
      <div class="card">
        <div class="card-header pb-0">
          <h5>Progress Bars states</h5><span>Use state utility classes to change the appearance of individual progress bars.</span>
        </div>
        <div class="card-body progress-showcase row">
          <div class="col">
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress">
              <div class="progress-bar bg-secondary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
     </div>
     <div class="col-sm-12">
       <app-multiple-bars></app-multiple-bars>
     </div>
     <div class="col-md-6">
       <app-bars-striped></app-bars-striped>
     </div>
     <div class="col-md-6">
       <app-bars-animated></app-bars-animated>
     </div>
   </div>
 </div>