<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header pb-0">
          <h5>IMAGE GALLERY</h5>
        </div>
        <div class="gallery my-gallery card-body" itemscope="" gallerize>
          <div class="row">
            <figure class="col-xl-3 col-md-4 xl-33" itemprop="associatedMedia" *ngFor="let img of imageData">
              <a itemprop="contentUrl">
                <img [src]="img.srcUrl" class="img-fluid" />
              </a>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>