<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Default Color</h5>
        </div>
        <div class="card-body">
          <div class="color-box">
            <button class="btn btn-primary btn-square digits">#7e37d8</button>
            <button class="btn btn-secondary btn-square digits">#fe80b2</button>
            <button class="btn btn-success btn-square digits">#80cf00</button>
            <button class="btn btn-info btn-square digits">#06b5dd</button>
            <button class="btn btn-warning btn-square digits">#ffc717</button>
            <button class="btn btn-danger btn-square digits">#fd517d</button>
            <button class="btn btn-light btn-square digits">#f8f5fd</button>
            <button class="btn btn-dark btn-square digits">#2c323f</button>
        </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5>Color</h5>
        </div>
        <div class="card-body bottom-color-space">
          <div class="row">
            <div class="col-sm-6 col-xl-3">
              <h6 class="sub-title text-uppercase">Primary</h6>
              <div class="primary-color">
                <ul class="m-b-30">
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3">
              <h6 class="sub-title text-uppercase">secondary</h6>
              <div class="secondary-color">
                <ul class="m-b-30">
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3">
              <h6 class="sub-title text-uppercase">Success</h6>
              <div class="success-color">
                <ul class="m-b-30">
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3">
              <h6 class="sub-title text-uppercase">Info</h6>
              <div class="info-color">
                <ul class="m-b-30">
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3">
              <h6 class="sub-title text-uppercase">Warning</h6>
              <div class="yellow-color">
                <ul class="m-b-30">
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3 xs-mt">
              <h6 class="sub-title text-uppercase">Danger</h6>
              <div class="red-color">
                <ul class="m-b-30">
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3 nav-md-mt">
              <h6 class="sub-title text-uppercase">Pink</h6>
              <div class="pink-color">
                <ul class="m-b-30">
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-xl-3 nav-md-mt">
              <h6 class="sub-title text-uppercase">Grey</h6>
              <div class="gray-color">
                <ul class="m-b-30">
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>