<div class="job-sidebar md-sidebar"><a class="btn btn-primary job-toggle" href="javascript:void(0)" (click)="openFilter()">job filter</a>
   <div class="md-sidebar-aside custom-scrollbar" [class.open]="OpenFilter">
     <div class="default-according style-1 faq-accordion job-accordion" id="accordionoc">
       <div class="row">
        <div class="col-xl-12">
           <div class="card">
             <div class="card-header">
               <h5 class="mb-0 p-0">
                 <button class="btn btn-link ps-0" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
                 aria-controls="collapseExample">Filter</button>
               </h5>
             </div>
             <div class="collapse show" id="collapseicon"  #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
               <div class="card-body filter-cards-view animate-chk">
                 <div class="job-filter mb-3">
                   <div class="faq-form">
                     <input class="form-control" type="text" placeholder="Search.."><i class="search-icon" data-feather="search"></i>
                   </div>
                 </div>
                 <div class="job-filter">
                   <div class="faq-form">
                     <input class="form-control" type="text" placeholder="location.."><i class="search-icon" data-feather="map-pin"></i>
                   </div>
                 </div>
                 <div class="checkbox-animated">
                  <ng-container *ngFor = "let chack of filterChackBox">
                    <label class="d-block" for="{{chack.id}}">
                      <input class="checkbox_animated" id="{{chack.id}}" type="checkbox"> {{chack.lable}} ({{chack.vacuncy}})
                    </label>
                  </ng-container>
                 </div>
                 <button class="btn btn-primary text-center" type="button">Find jobs</button>
               </div>
             </div>
           </div>
         </div>
         <ng-container *ngFor="let f of filter">
          <div class="col-xl-12">
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0 p-0">
                  <button class="btn btn-link" (click)="collapse.toggle()" [attr.aria-expanded]="!f.isCollapsed"
                  aria-controls="collapseExample">{{f.title}}</button>
                </h5>
              </div>
              <div class="collapse show" #collapse="ngbCollapse" [(ngbCollapse)]="f.isCollapsed">
                <div class="card-body animate-chk">
                  <div class="location-checkbox">
                      <ng-container *ngFor="let check of f.checkBoxs">
                        <label class="d-block" for="chk-ani6">
                          <input class="checkbox_animated" id="chk-ani6" type="checkbox">{{check.checkTitle}}<span class="d-block">{{check.subTitle}}</span>
                        </label>
                      </ng-container>
                    </div>
                </div>
                <button class="btn btn-block btn-primary text-center" type="button">{{f.button}}</button>
              </div>
            </div>
          </div>
         </ng-container>
       </div>
     </div>
   </div>
 </div>