<button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#tooltipmodal" (click)="tooltipsModal(tooltipContent)">Tooltips and popovers</button>

<ng-template #tooltipContent let-modal>
   <div class="modal-header">
     <h5 class="modal-title">Modal title</h5>
     <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
   </div>
   <div class="modal-body">
     <h5>Popover in a modal</h5>
     <p>This <a class="btn btn-primary popover-test" href="javascript:void(0)" role="button" title="Popover body content is set in this attribute." data-container="#exampleModalPopovers">button</a> triggers a popover on click.</p>
     <hr>
     <h5>Tooltips in a modal</h5>
     <p><a class="tooltip-test" href="javascript:void(0)" title="Tooltip" data-container="#exampleModalPopovers">This link</a> and <a class="tooltip-test" href="javascript:void(0)" title="Tooltip" data-container="#exampleModalPopovers">that link</a> have tooltips on hover.</p>
   </div>
   <div class="modal-footer">
     <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
     <button class="btn btn-primary" type="button">Save changes</button>
   </div>
</ng-template>
