<div class="container-fluid list-products">
  <div class="row">
    <!-- Individual column searching (text inputs) Starts-->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header pb-0">
          <div class="d-flex justify-content-end">
            <button [routerLink]="['/admin-panel/subject/add-subject']" class="btn btn-success" type="button"
              data-original-title="btn btn-success btn-xs" title="">
              Add Data
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive custom-scrollbar" style="max-height: 400px; overflow-y: auto;">
            <form>
              <table class="table table-hover table-border-horizontal" id="basic-1">
                <thead>
                  <tr>
                    <th scope="col">Class Id</th>
                    <th scope="col">Subject Name</th>
                    <th scope="col">Subject Image</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="odd" *ngFor="let item of subjectDetails">
                    <td class="sorting_1">
                      <p> Class {{ item.classId }}</p>
                    </td>
                    <td class="sorting_1">
                      <p>{{ item.subjectName }}</p>
                    </td>
                    <td class="sorting_1">
                      <img src="{{ item.subjectImg }}" alt="{{ item.subjectName }}"
                        onerror="this.src='../../../../../../assets/images/noimage.png'" height="60px" width="60px" />
                    </td>
                    <td class="sorting_1">
                      <button [routerLink]="['/admin-panel/subject/add-subject']" class="btn btn-primary btn-xs"
                        type="button" data-original-title="btn btn-danger btn-xs" (click)="editTheForm(item)" title="">
                        <i class="fa fa-edit"></i>
                      </button> &nbsp;
                      <button class="btn btn-danger btn-xs" type="button" data-original-title="btn btn-danger btn-xs"
                        title="" (click)="deleteBibiyaneCategory(item._id)">
                        <i class="fa fa-trash-o"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="d-flex justify-content-between mt-2">
                <!-- <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
                 <option [ngValue]="10">10 items per page</option>
                 <option [ngValue]="25">25 items per page</option>
                 <option [ngValue]="50">50 items per page</option>
                 <option [ngValue]="10">100 items per page</option>
               </select>
               <ngb-pagination class="ms-3"
                 [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
               </ngb-pagination> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>