<div class="card">
    <div class="card-body">
      <div class="product-info">
        <form [formGroup]="classFrom" class="form theme-form">
          <div class="product-group">
             <div class="row">
              <div class="col-lg-4 col-sm-12">
                <div class="mb-3">
                  <label class="form-label" for="categoryId"> Class Id</label>
                  <select class="form-select" formControlName="classId">
                    <option [value]="null" disabled>Select Class</option>
                    <option *ngFor="let c of classes" [value]="c.key">
                      {{ c.value }}
                    </option>
                  </select>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div class="mb-3">
                  <label class="form-label" for="categoryId"> Medium</label>
                  <select class="form-select" formControlName="medium">
                    <option [value]="null" disabled>Select Medium</option>
                    <option *ngFor="let m of medium" [value]="m.key">
                      {{ m.value }}
                    </option>
                  </select>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div class="mb-3">
                  <label class="form-label" for="testName">Test Name</label>
                  <input  class="form-control" id="testName" formControlName="testName" placeholder="Test Name"
                    type="text" required>
                    <div *ngIf="classFrom.get('testName')!.touched && classFrom.get('testName')!.hasError('required')" class="text text-danger mt-1">
                      Test Name is required
                    </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div class="mb-3">
                  <label class="form-label" for="testTimeDuration">Test Time Duration (in min)</label>
                  <input  class="form-control" id="testTimeDuration" formControlName="testTimeDuration" placeholder="Test Time Duration"
                    type="text" required>
                    <div *ngIf="classFrom.get('testTimeDuration')!.touched && classFrom.get('testTimeDuration')!.hasError('required')" class="text text-danger mt-1">
                      Test Time Duration  is required
                    </div>
                </div>
              </div>
            </div>
             </div>
         <div class="col-12 d-flex justify-content-end mt-2">
          <button type="submit" class="btn btn-success"  *ngIf="this.isEditClicked == false" [disabled]="!classFrom.valid"  (click)="createSubject()">Submit</button>&nbsp;
          <button type="submit" class="btn btn-success"  *ngIf="this.isEditClicked == true" [disabled]="!classFrom.valid" (click)="updateSubject()">Update</button>
         </div>
        </form>
      </div>
    </div>
  </div>
    
  <app-loader-design></app-loader-design>