<div class="card">
    <div class="card-body">
      <div class="product-info">
        <form [formGroup]="classFrom" class="form theme-form">
          <div class="product-group">
             <div class="row">
              <div class="col-lg-4 col-sm-12">
                <div class="mb-3">
                  <label class="form-label" for="categoryId"> Class Id</label>
                  <select formControlName="classId"  class="form-select" id="categoryId"
                     (change)="changeClassId()"  name="categoryId" required >
                     <option value="" disabled selected>Select</option>
                     <option value="1" >class 1</option>
                     <option value="2" >class 2</option>
                     <option value="3" >class 3</option>
                     <option value="4" >class 4</option>
                     <option value="5" >class 5</option>
                     <option value="6" >class 6</option>
                     <option value="7" >class 7</option>
                     <option value="8" >class 8</option>
                     <option value="9" >class 9</option>
                     <option value="10" >class 10</option>
                     <option value="11" >class 11</option>
                     <option value="12" >class 12</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div class="mb-3">
                  <label class="form-label" for="subjectName">Subject Name</label>
                  <input  class="form-control" id="subjectName" formControlName="subjectName" placeholder="Subject Name"
                    type="text" required>
                    <div *ngIf="classFrom.get('subjectName')!.touched && classFrom.get('subjectName')!.hasError('required')" class="text text-danger mt-1">
                      Subject Name  is required
                    </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div>
                  <label class="form-label" for="catImg">Subject Image</label>
                  <input type="file"  (change)="onFileSelected($event)"  class="form-control" required />
                  <img *ngIf="subjectImageSrc" [src]="subjectImageSrc" alt="subImage" class="img-fluid w-25 text-center m-2" /> 
                </div>
              </div>
            </div>
             </div>
         <div class="col-12 d-flex justify-content-end mt-2">
          <button type="submit" class="btn btn-success" [disabled]="!classFrom.valid" *ngIf="this.isEditClicked == false"  (click)="createSubject()">Submit</button>&nbsp;
          <button type="submit" class="btn btn-success" [disabled]="!classFrom.valid" *ngIf="this.isEditClicked == true" (click)="updateSubject()">Update</button>
         </div>
        </form>
      </div>
    </div>
  </div>
