<div class="card overflow-visible">
   <div class="card-header pb-0">
     <h5>Default Nav</h5>
   </div>
   <div class="card-body">
     <ul class="icon-lists border navs-icon">
       <li><a href="javascript:void(0)"><i data-feather="home"></i><span> Dashboard</span></a></li>
       <li><a href="javascript:void(0)"><i data-feather="airplay"></i><span> Widgets</span></a></li>
       <li><a href="javascript:void(0)"><i data-feather="box"></i><span> Base</span></a></li>
       <li><a href="javascript:void(0)"><i data-feather="file-text"></i><span> Forms</span></a></li>
       <li><a href="javascript:void(0)"><i data-feather="server"></i><span> Tables</span></a></li>
     </ul>
     <div class="onhover-dropdown navs-dropdown">
       <button class="btn btn-primary onhover-dropdown">Dropdown example <i class="icon-arrow-down ms-1"></i></button>
       <div class="onhover-show-div">
         <ul class="icon-lists navs-icon">
           <li><a href="javascript:void(0)"><i data-feather="home"></i><span> Dashboard</span></a></li>
           <li><a href="javascript:void(0)"><i data-feather="airplay"></i><span> Widgets</span></a></li>
           <li><a href="javascript:void(0)"><i data-feather="box"></i><span> Base</span></a></li>
           <li><a href="javascript:void(0)"><i data-feather="file-text"></i><span> Forms</span></a></li>
           <li><a href="javascript:void(0)"><i data-feather="server"></i><span> Tables</span></a></li>
         </ul>
       </div>
     </div>
   </div>
 </div>