<div class="sidebar-user text-center">
    <a class="setting-primary" href="javascript:void(0)"><i data-feather="settings"></i></a><img class="img-90 rounded-circle" src="assets/images/dashboard/1.png" alt="">
    <div class="badge-bottom"><span class="badge badge-primary">New</span></div><a href="users/users-profile">
      <h6 class="mt-3 f-14 f-w-600">Emay Walter</h6></a>
    <p class="mb-0 font-roboto">Human Resources Department</p>
    <ul>
      <li><span><span class="counter">19.8</span>k</span>
        <p>Follow</p>
      </li>
      <li><span>2 year</span>
        <p>Experince</p>
      </li>
      <li><span><span class="counter">95.2</span>k</span>
        <p>Follower </p>
      </li>
    </ul>
  </div>