<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header pb-0">
          <h5>Zero Configuration</h5><span>DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function:<code>$().DataTable();</code>.</span><span>Searching, ordering and paging goodness will be immediately added to the table, as shown in this example.</span>
        </div>
        <div class="card-body">
          <div class="table-responsive data-table">
            <form>
              <div class="mb-3 row justify-content-end">
                <span class="col col-form-label text-end" *ngIf="service.loading$ | async">Loading...</span>
                <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Search:</label>
                <div class="col-xs-3 col-sm-auto">
                  <input id="table-complete-search" type="text" class="form-control" name="searchTerm" [(ngModel)]="service.searchTerm">
                </div>
              </div>

              <table class="table table-striped table-border-vertical">
                <thead>  
                  <tr>
                      <th scope="col" sortable="name" (sort)="onSort($event)">Name</th>
                      <th scope="col" sortable="startDate" >Date</th>
                      <th scope="col" sortable="invoice" (sort)="onSort($event)">Invoice No.</th>
                      <th scope="col" sortable="position" (sort)="onSort($event)">Job Designation</th>
                      <th scope="col" sortable="credit" (sort)="onSort($event)" >Credit/Debit</th>
                      <th scope="col" sortable="office" (sort)="onSort($event)">Company Name</th>
                      <th scope="col" sortable="salary" >Priority</th>
                      <th scope="col" sortable="Budget" (sort)="onSort($event)">Budget</th>
                      <th scope="col" >Action</th>
                  </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of basicTable$ | async">
                  <td scope="row">
                    <img class="img-40 me-2" src="{{item.img}}" alt="">
                    <ngb-highlight [result]="item.name" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="item.startDate" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="item.invoice" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="item.position" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <span class="f-w-700 font-{{item.iconColor}}">
                      <i class="icofont {{item.iconClass}}"></i>
                      <ngb-highlight [result]="item.credit" [term]="service.searchTerm"></ngb-highlight>
                    </span>
                  </td>
                  <td>
                    <ngb-highlight [result]="item.office" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <span class="badge {{item.ActionClass}}">
                      <ngb-highlight [result]="item.salary" [term]="service.searchTerm"></ngb-highlight>
                    </span>
                  </td>
                  <td>
                    <ngb-highlight [result]="item.Budget" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <span>
                      <i class="fa fa-eye font-primary pe-2"></i>
                      <span (click)="deleteData(item.id)">
                        <i class="icofont icofont-close-circled font-danger ps-2"></i>
                      </span>
                    </span>
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="d-flex justify-content-between mt-3">
                <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
                  <option [ngValue]="2">2 items per page</option>
                  <option [ngValue]="4">4 items per page</option>
                  <option [ngValue]="6">6 items per page</option>
                </select>
                <ngb-pagination class="ms-3"
                  [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
                </ngb-pagination>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>