<div class="container-fluid list-products">
    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-1">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg">
                            <input [(ngModel)]="studentFilter.firstName" (input)="getAllStudentCrud()" type="text"
                                class="form-control font-12" placeholder="Search by name..." autocomplete="off" />
                        </div>
                        <div class="col-lg">
                            <select class="form-select font-12" [(ngModel)]="studentFilter.class"
                                (change)="getAllStudentCrud()">
                                <option value="" disabled selected>Select Class</option>
                                <option *ngFor="let item of classes" [ngValue]="item.key">
                                    {{ item.value}}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg">
                            <select class="form-select font-12" [(ngModel)]="studentFilter.medium"
                                (change)="getAllStudentCrud()">
                                <option value="" disabled selected>Select medium</option>
                                <option *ngFor="let item of medium" [ngValue]="item.key">
                                    {{ item.value}}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg">
                            <button type="button" (click)="clearFilter()"
                                class="btn btn-outline-primary border d-flex align-items-center btn-sm  font-12 w-100">
                                <i class="bi bi-file-earmark-pdf "></i>Clear
                            </button>
                        </div>
                        <div class="col-lg text-center">
                            <button type="button" (click)="downloadBalanceReportPDF()"
                                class="btn btn-outline-primary border d-flex align-items-center btn-sm text-center font-12 w-100">
                                <i class="fa fa-download me-2"></i>
                                Report
                            </button>
                        </div>
                        <div class="col-lg text-end">
                            <button [routerLink]="['/admin-panel/user/add-user']" class="btn btn-success btn-sm"
                                type="button" data-original-title="btn btn-success btn-sm" title="">
                                Add Data
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive custom-scrollbar table-height">
                        <table class="table table-hover table-border-horizontal" id="basic-1">
                            <thead class="sticky-top">
                                <tr>
                                    <th >User Name</th>
                                    <th >Full Name</th>
                                    <th >Email</th>
                                    <th >Address</th>
                                    <th >DOB</th>
                                    <th >Gender</th>
                                    <th >Mobile No</th>
                                    <th >Class/Standard</th>
                                    <th >Medium</th>
                                    <th >School Name</th>
                                    <th >Cordinator Name</th>
                                    <th >Cordinator Code</th>
                                    <th >Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="" *ngFor="let item of userDetails ; let i = index">
                                    <td>{{ item.userId}}</td>
                                    <td>{{ item.firstName + ' ' + item.middleName + ' '+ item.lastname}}</td>
                                    <td>{{ item.email}}</td>
                                    <td>{{ item.address1 + ' ' +item.address2+' '+item.state+''+item.pincode}}</td>
                                    <td>{{ item.DOB}}</td>
                                    <td>{{ item.gender}}</td>
                                    <td>{{ item.mobileNo}}</td>
                                    <td>Class {{ item.class}}</td>
                                    <td>{{ item.medium}}</td>
                                    <td>{{ item.schoolName}}</td>
                                    <td>{{ item.coordinatorName}}</td>
                                    <td>{{ item.coordinatorCode}}</td>
                                    <td>
                                        <button [routerLink]="['/admin-panel/user/edit-user']"
                                            class="btn btn-primary btn-xs" type="button"
                                            data-original-title="btn btn-danger btn-xs" (click)="editTheForm(item)"
                                            title=""><i class="fa fa-edit"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="">
                <nav aria-label="Page navigation example">
                    <div class="d-flex justify-content-between align-items-end nav-height">
                        <div class="p-2">
                            <select class="form-select" [(ngModel)]="studentFilter.limit"
                                (change)="onItemPerPageChange()">
                                <option value="5">5 items per page</option>
                                <option value="10">10 items per page</option>
                                <option value="25">25 items per page</option>
                                <option value="50">50 items per page</option>
                                <option value="100">100 items per page</option>
                                <option [value]="totalRecords">{{totalRecords}} All Record</option>
                            </select>
                        </div>

                        <div class="p-2 pe-0">
                            <ul class="pagination m-0">
                                <li class="page-item" [class.disabled]="studentFilter.page === 1">
                                    <a class="page-link" (click)="onPageChanged(studentFilter.page - 1)" tabindex="-1"
                                        [attr.aria-disabled]="studentFilter.page === 1">Previous</a>
                                </li>
                                <li class="page-item" *ngFor="let page of getPages()"
                                    [class.active]="studentFilter.page === page">
                                    <a class="page-link" (click)="onPageChanged(page)">{{ page }}</a>
                                </li>
                                <li class="page-item" [class.disabled]="studentFilter.page === totalPages()">
                                    <a class="page-link" (click)="onPageChanged(studentFilter.page + 1)"
                                        [attr.aria-disabled]="studentFilter.page === totalPages()">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<app-loader-design></app-loader-design>