<table class="table table-bordered table-striped">
  <tbody>
    <tr>
      <td class="item">
        <h6 class="mb-0">Item Description</h6>
      </td>
      <td class="Hours">
        <h6 class="mb-0">Quantity</h6>
      </td>
      <td class="Rate">
        <h6 class="mb-0">Rate</h6>
      </td>
      <td class="subtotal">
        <h6 class="mb-0">Sub-total</h6>
      </td>
    </tr>
    <ng-container *ngFor="let i of invoice">
      <tr>
        <td>
          <label>{{i.itemDesc}}</label>
          <p class="m-0">{{i.subDesc}}</p>
        </td>
        <td>
          <p class="itemtext">{{i.Qty}}</p>
        </td>
        <td>
          <p class="itemtext">${{i.rate}}</p>
        </td>
        <td>
          <p class="itemtext">${{i.subTotal}}</p>
        </td>
      </tr>
    </ng-container>
    <tr>
      <td>
        <p class="itemtext"></p>
      </td>
      <td>
        <p class="m-0">HST</p>
      </td>
      <td>
        <p class="m-0">13%</p>
      </td>
      <td>
        <p class="m-0">$419.25</p>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td class="Rate">
        <h6 class="mb-0 p-2">Total</h6>
      </td>
      <td class="payment">
        <h6 class="mb-0 p-2">$1,644.25</h6>
      </td>
    </tr>
  </tbody>
</table>