<div class="modal-content">
   <div class="modal-header">
     <h5 class="modal-title">Create Tag</h5>
     <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Cross click')">                                            </button>
   </div>
   <div class="modal-body">
     <form class="form-bookmark needs-validation" novalidate="">
       <div class="form-row">
         <div class="form-group col-md-12">
           <label>Tag Name</label>
           <input class="form-control w-100" type="text" required="" autocomplete="off">
         </div>
         <div class="form-group col-md-12 mb-0">
           <label>Tag color</label>
           <input class="form-control fill-color" type="color" value="#24695c">
         </div>
       </div>
       <button class="btn btn-secondary" type="button">Save</button>
       <button class="btn btn-primary ms-2" type="button" (click)="activeModal.dismiss()">Cancel</button>
     </form>
   </div>
 </div>