<div class="card">
   <div class="card-header pb-0">
     <h5>Radar Chart </h5>
   </div>
   <div class="card-body">
     <div id="radarchart">
      <apx-chart 
      [chart]="radarChart.chart"
      [series]="radarChart.series"
      [labels]="radarChart.labels"
      [title]="radarChart.title"
      [yaxis]="radarChart.yaxis"
      [markers]="radarChart.markers"
      [tooltip]="radarChart.tooltip"
      [colors]="radarChart.colors">
      </apx-chart>
     </div>
   </div>
</div>