<div class="card">
    <div class="card-header pb-0">
      <h5>Custom content</h5>
    </div>
    <div class="card-body">
      <div class="list-group"><a class="list-group-item list-group-item-action flex-column align-items-start active"
           href="javascript:void(0)">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5><small>3 days ago</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
            blandit.</p><small>Donec id elit non mi porta.</small>
        </a><a class="list-group-item list-group-item-action flex-column align-items-start"  href="javascript:void(0)">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5><small class="text-muted">3 days ago</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
            blandit.</p><small class="text-muted">Donec id elit non mi porta.</small>
        </a><a class="list-group-item list-group-item-action flex-column align-items-start"  href="javascript:void(0)">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5><small class="text-muted">3 days ago</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
            blandit.</p><small class="text-muted">Donec id elit non mi porta.</small>
        </a></div>
    </div>
  </div>