<div class="container-fluid list-products">
    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-1">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-2">
                            <input [(ngModel)]="coordinatorFilter.name" (input)="getAllCoordiantorCrud()" type="text"
                                class="form-control font-12" placeholder="Search by name..." autocomplete="off" />
                        </div>
                        <div class="col-lg-2">
                            <input [(ngModel)]="coordinatorFilter.coordinatorCode" (input)="getAllCoordiantorCrud()"
                                type="text" class="form-control font-12" placeholder="Search by Coordinator Code..."
                                autocomplete="off" />
                        </div>
                        <div class="col-lg-2">
                            <input [(ngModel)]="coordinatorFilter.mobileNo" (input)="getAllCoordiantorCrud()"
                                type="text" class="form-control font-12" placeholder="Search by Mobile No..."
                                autocomplete="off" />
                        </div>
                        <div class="col-lg-2">
                            <button type="button" (click)="clearFilter()"
                                class="btn btn-outline-primary border d-flex align-items-center me-2 font-12 w-100">
                                <i class="bi bi-file-earmark-pdf pe-2"></i>Clear
                            </button>
                        </div>
                        <div class="col-lg-2">
                            <button type="button" (click)="downloadBalanceReportPDF()"
                            class="btn btn-outline-primary border d-flex align-items-center btn-sm text-center font-12 w-100">
                            <i class="fa fa-download me-2"></i>
                             Report
                            </button>
                        </div>
                        <div class="col-lg-2">
                            <button [routerLink]="['/admin-panel/user/edit-cordinator']" class="btn btn-success btn-sm"
                                type="button" data-original-title="btn btn-success btn-xs" title="">
                                Add Data
                            </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive custom-scrollbar table-height" >
                            <form>
                                <table class="table table-hover table-border-horizontal" id="basic-1">
                                    <thead class="sticky-top">
                                        <tr>
                                            <th class=" " scope="col">Name</th>
                                            <th class=" " scope="col">DOB</th>
                                            <th class=" " scope="col">Age</th>
                                            <th class=" " scope="col">Email</th>
                                            <th class=" " scope="col">Mobile No</th>
                                            <th class=" " scope="col">Twelfth Pass</th>
                                            <th class=" " scope="col">Coordinator Code</th>
                                            <th class=" " scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd" *ngFor="let item of userDetails ; let i = index">
                                            <td class="sorting_1">
                                                <p>{{ item.name}}</p>
                                            </td>
                                            <td class="sorting_1">
                                                <p class="text-dark">{{ item.DOB}}</p>
                                            </td>
                                            <td class="sorting_1">
                                                <p class="text-dark">{{ item.age}}</p>
                                            </td>
                                            <td class="sorting_1">
                                                <p class="text-dark">{{ item.email}}</p>
                                            </td>
                                            <td class="sorting_1">
                                                <p class="text-dark">{{ item.mobileNo}}</p>
                                            </td>
                                            <td class="sorting_1">
                                                <p class="text-dark">
                                                    {{ item.twelfthPass ? 'Pass' : 'Fail' }}
                                                </p>
                                            </td>                                            
                                            <td class="sorting_1">
                                                <p class="text-dark">{{ item.coordinatorCode}}</p>
                                            </td>
                                            <td class="sorting_1">
                                                <button [routerLink]="['/admin-panel/user/edit-cordinator']"
                                                    class="btn btn-primary btn-xs" type="button"
                                                    data-original-title="btn btn-danger btn-xs"
                                                    (click)="editTheForm(item)" title=""><i
                                                        class="fa fa-edit"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="">
                <nav aria-label="Page navigation example">
                    <div class="d-flex justify-content-between align-items-end nav-height">
                        <div class="p-2">
                            <select class="form-select" [(ngModel)]="coordinatorFilter.limit"
                                (change)="onItemPerPageChange()">
                                <option value="5">5 items per page</option>
                                <option value="10">10 items per page</option>
                                <option value="25">25 items per page</option>
                                <option value="50">50 items per page</option>
                                <option value="100">100 items per page</option>
                                <option [value]="totalRecords">{{totalRecords}} All Record</option>
                            </select>
                        </div>

                        <div class="p-2 pe-0">
                            <ul class="pagination m-0">
                                <li class="page-item" [class.disabled]="coordinatorFilter.page === 1">
                                    <a class="page-link" (click)="onPageChanged(coordinatorFilter.page - 1)"
                                        tabindex="-1" [attr.aria-disabled]="coordinatorFilter.page === 1">Previous</a>
                                </li>
                                <li class="page-item" *ngFor="let page of getPages()"
                                    [class.active]="coordinatorFilter.page === page">
                                    <a class="page-link" (click)="onPageChanged(page)">{{ page }}</a>
                                </li>
                                <li class="page-item" [class.disabled]="coordinatorFilter.page === totalPages()">
                                    <a class="page-link" (click)="onPageChanged(coordinatorFilter.page + 1)"
                                        [attr.aria-disabled]="coordinatorFilter.page === totalPages()">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<app-loader-design></app-loader-design>