<div class="card">
    <div class="card-body">
      <div class="product-info">
        <form [formGroup]="studyMaterialFrom" class="form theme-form">
          <div class="product-group">
             <div class="row">
              <div class="col-lg-6 col-sm-12">
                <div class="mb-3">
                  <label class="form-label" for="classId">Class Name</label>
                  <select formControlName="classId" placeholder="Category ID" class="form-select" id="categoryId"
                     (change)="changeClassId()"  name="classId" >
                     <option value="" disabled selected>Select</option>
                     <option *ngFor="let c of classArray" [value]="c.key" [disabled]="c.disabled">
                      {{ c.value }}
                    </option>
                  </select>
                </div>
              </div>
              <!-- <div class="col-lg-6 col-sm-12">
                <div class="mb-3">
                  <label class="form-label" for="chapterId">Medium</label>
                  <select formControlName="medium" placeholder="medium" class="form-select" id="medium"
                     (change)="changeMediumId()"  name="mediumId" required >
                     <option value="" disabled selected>Select</option>
                     <option value="english">English</option>
                     <option value="hindi">Hindi</option>
                     <option value="marathi">Marathi</option>
                     <option value="semi-english">Semi-English</option>
                  </select>
                </div>
              </div> -->
              <div class="col-lg-6 col-sm-12">
                <div class="mb-3">
                  <label class="form-label" for="examFee">Exam Fee</label>
                  <input  class="form-control" id="examFee" formControlName="examFee" placeholder="Exam Fee"
                    type="text" required>
                    <div *ngIf="studyMaterialFrom.get('examFee')!.touched && studyMaterialFrom.get('examFee')!.hasError('required')" class="text text-danger mt-1">
                        Exam Fee is required
                    </div>
                </div>
              </div>
            </div>
             </div>
         <div class="col-12 d-flex justify-content-end mt-2">
          <button type="submit" class="btn btn-success"  *ngIf="this.isEditClicked == false"  (click)="createRegistrationForScholership()">Submit</button>&nbsp;
          <button type="submit" class="btn btn-success"  *ngIf="this.isEditClicked == true" (click)="updateRegistrationForScholership()">Update</button>
         </div>
        </form>
      </div>
    </div>
  </div>




