<div class="card height-equal">
   <div class="card-header">
     <h5>Vertical</h5><span>Make vertical buttons</span>
   </div>
   <div class="card-body btn-group-wrapper">
     <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
       <button class="btn btn-primary" type="button">Button</button>
       <button class="btn btn-secondary" type="button">Button</button>
       <div class="btn-group" role="group">
         <button class="btn btn-success dropdown-toggle" (click)="openMenu()" id="btnGroupVerticalDrop1" type="button" aria-haspopup="true" aria-expanded="false">Dropdown</button>
         <div class="dropdown-menu" [class.show]="show"><a class="dropdown-item" href="#">Dropdown link</a><a class="dropdown-item" href="#">Dropdown link</a></div>
       </div>
       <button class="btn btn-info" type="button">Button</button>
       <button class="btn btn-warning" type="button">Button</button>
       <div class="btn-group" role="group">
         <button class="btn btn-danger dropdown-toggle" type="button" (click)="openMenu2()">Dropdown</button>
         <div class="dropdown-menu" [class.show]="show2"><a class="dropdown-item" href="#">Dropdown link</a><a class="dropdown-item" href="#">Dropdown link</a></div>
       </div>
       <div class="btn-group" role="group">
         <button class="btn btn-light dropdown-toggle" (click)="openMenu3()" id="btnGroupVerticalDrop3" type="button" aria-haspopup="true" aria-expanded="false">Dropdown</button>
         <div class="dropdown-menu" [class.show]="show3">
            <a class="dropdown-item" href="#">Dropdown link</a>
            <a class="dropdown-item" href="#">Dropdown link</a>
         </div>
       </div>
     </div>
   </div>
 </div>