<div class="card">
   <div class="card-header pb-0">
     <h5>Basic Modal</h5>
   </div>
   <div class="card-body">
        <div class="btn-showcase">
        <app-simple></app-simple>
        <app-scrolling-long></app-scrolling-long>
        <app-tooltips-popovers></app-tooltips-popovers>
        <app-vertically></app-vertically>
        <app-using-grid></app-using-grid>
     </div>
   </div>
</div>



