<div class="email-sidebar"><a class="btn btn-primary email-aside-toggle" (click)="openBookmark()">bookmark filter</a>
   <div class="email-left-aside custom-scrollbar" [class.open]="open">
     <div class="card">
       <div class="card-body">
         <div class="email-app-sidebar left-bookmark custom-scrollbar">
           <div class="media">
             <div class="media-size-email"><img class="me-3 rounded-circle" src="assets/images/user/user.png" alt=""></div>
             <div class="media-body">
               <h6 class="f-w-600">MARK JENCO</h6>
               <p>Markjecno@gmail.com</p>
             </div>
           </div>
           <ul class="nav main-menu" role="tablist">
            <li class="nav-item">
              <button class="badge-light btn-block btn-mail" type="button" data-bs-toggle="modal" (click)="openAddBookmark()"><i class="me-2" data-feather="bookmark"></i> New Bookmark</button>
            </li>
            <li class="nav-item"><span class="main-title"> Views</span></li>
            <li><a id="pills-created-tab" data-bs-toggle="pill" href="javascript:void(0)" role="tab" aria-controls="pills-created" aria-selected="true"><span class="title"> Created by me</span></a></li>
            <li><a class="show" id="pills-Favorites-tab" data-bs-toggle="pill" href="javascript:void(0)" role="tab" aria-controls="pills-Favorites" aria-selected="false"><span class="title"> Favorites</span></a></li>
            <li><a class="show" id="pills-shared-tab" data-bs-toggle="pill" href="javascript:void(0)" role="tab" aria-controls="pills-shared" aria-selected="false"><span class="title"> Shared with me</span></a></li>
            <li><a class="show" id="pills-bookmark-tab" data-bs-toggle="pill" href="javascript:void(0)" role="tab" aria-controls="pills-bookmark" aria-selected="false"><span class="title"> My bookmark</span></a></li>
            <li>
              <hr>
            </li>
            <li><span class="main-title"> Tags<span class="pull-right"><a (click)="openTagModel()"><app-feather-icons [icon]="'plus-circle'"></app-feather-icons></a></span></span></li>
            <li><a class="show" id="pills-notification-tab" data-bs-toggle="pill" href="javascript:void(0)" role="tab" aria-controls="pills-notification" aria-selected="false"><span class="title"> Notification</span></a></li>
            <li><a class="show" id="pills-newsletter-tab" data-bs-toggle="pill" href="javascript:void(0)" role="tab" aria-controls="pills-newsletter" aria-selected="false"><span class="title"> Newsletter</span></a></li>
          </ul>
         </div>
       </div>
     </div>
   </div>
 </div>