/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */


@import "assets/scss/app.scss";
// html{
//     overflow-y: hidden; /* Hide vertical scrollbar */
// }

.router-wrapper  {
    position:  relative;
    overflow:  hidden;
    width:  100vw;
    height:  calc(100%  -  47px);
    perspective:  1200px;
    transform-style:  preserve-3d;
}

:host  {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #60d7a9;
}

.page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .main-navbar .nav-menu .dropdown ul.nav-submenu li a.active{
    color: var(--theme-default) !important;
    font-weight: 600 !important;
    background: rgba(0, 124, 195, 0.1) !important;
}

.page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .main-navbar .nav-menu > li .nav-submenu li a span{
    font-weight: 600 !important;
}


