<div class="card">
    <div class="card-body">
      <div class="product-info">
        <form [formGroup]="linkFrom" class="form theme-form">
          <div class="product-group">
             <div class="row">
              <div class="col-lg-4 col-sm-12">
                <div class="mb-3">
                  <label class="form-label" for="categoryId"> Class</label>
                  <select class="form-select" formControlName="classId">
                    <option [value]="null" disabled>Select Class</option>

                    <!-- <option [value]="null" disabled>Select Class</option> -->
                    <option *ngFor="let c of classes" [value]="c.key">
                      {{ c.value }}
                    </option>
                  </select>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div class="mb-3">
                  <label class="form-label" for="categoryId"> Medium</label>
                  <select class="form-select" formControlName="medium">
                    <option [value]="null" disabled>Select Medium</option>
                    <option *ngFor="let m of medium" [value]="m.key">
                      {{ m.value }}
                    </option>
                  </select>
                  </div>
              </div>
              <!-- <div class="col-lg-4 col-sm-12">
                <div class="mb-3">
                  <label class="form-label" for="chapterId">Chapter Name</label>
                  <select formControlName="chapterId" placeholder="Category ID" class="form-select" id="chapterId"
                     (change)="changeChapterId()"  name="chapterId" required >
                     <option value="" disabled selected>Select</option>
                    <option *ngFor="let item of chapterDetails" [ngValue]="item._id">
                      {{item.chaptername}}
                    </option>
                  </select>
                </div>
              </div> -->
              
              <div class="col-lg-4 col-sm-12">
                <div class="mb-3">
                  <label class="form-label" for="chaptername">Video Name</label>
                  <input  class="form-control" id="videoName" formControlName="videoName" placeholder="Video Name"
                    type="text" required>
                    <div *ngIf="linkFrom.get('videoName')!.touched && linkFrom.get('videoName')!.hasError('required')" class="text text-danger mt-1">
                      Video Name  is required
                    </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div class="mb-3">
                    <label class="form-label" for="chaptername">Video Link</label>
                    <input  class="form-control" id="videoLink" formControlName="videoLink" placeholder="Video Name"
                      type="text" required>
                      <div *ngIf="linkFrom.get('videoLink')!.touched && linkFrom.get('videoLink')!.hasError('required')" class="text text-danger mt-1">
                        Video Link  is required
                      </div>
                  </div>
              </div>
            </div>
             </div>
         <div class="col-12 d-flex justify-content-end mt-2">
          <button type="submit" class="btn btn-success" [disabled]="!linkFrom.valid" *ngIf="this.isEditClicked == false"  (click)="createLink()">Submit</button>&nbsp;
          <button type="submit" class="btn btn-success" [disabled]="!linkFrom.valid" *ngIf="this.isEditClicked == true" (click)="updateLink()">Update</button>
         </div>
        </form>
      </div>
    </div>
  </div>

