<div class="card">
    <div class="card-body">
      <div class="product-info">
        <form [formGroup]="classFrom" class="form theme-form">
          <div class="product-group">
             <div class="row">
              <div class="col-lg-4 col-sm-12">
                <div class="mb-3">
                  <label class="form-label" for="categoryId"> Class Id</label>
                  <select class="form-select" formControlName="classId">
                    <option [value]="null" disabled>Select Class</option>
                    <option *ngFor="let c of classes" [value]="c.key">
                      {{ c.value }}
                    </option>
                  </select>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div class="mb-3">
                  <label class="form-label" for="bsatExamTestName">Test Name</label>
                  <input  class="form-control" id="bsatExamTestName" formControlName="bsatExamTestName" placeholder="Test Name"
                    type="text" required>
                    <div *ngIf="classFrom.get('bsatExamTestName')!.touched && classFrom.get('bsatExamTestName')!.hasError('required')" class="text text-danger mt-1">
                      Test Name is required
                    </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div class="mb-3">
                  <label class="form-label" for="bsatExamTestTimeDuration">Test Time Duration (in min)</label>
                  <input  class="form-control" id="bsatExamTestTimeDuration" formControlName="bsatExamTestTimeDuration" placeholder="Test Time Duration"
                    type="text" required>
                    <div *ngIf="classFrom.get('bsatExamTestTimeDuration')!.touched && classFrom.get('bsatExamTestTimeDuration')!.hasError('required')" class="text text-danger mt-1">
                      Test Time Duration  is required
                    </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div class="mb-3">
                  <label class="form-label" for="bsatExamTestTimeDate">Test Date</label>
                  <input class="form-control" id="bsatExamTestTimeDate" formControlName="bsatExamTestTimeDate" placeholder="Test Date"
                         type="datetime-local" required>
                  <div *ngIf="classFrom.get('bsatExamTestTimeDate')!.touched && classFrom.get('bsatExamTestTimeDate')!.hasError('required')" class="text text-danger mt-1">
                    Test Date is required
                  </div>
                </div>
              </div>              
            </div>
             </div>
         <div class="col-12 d-flex justify-content-end mt-2">
          <button type="submit" class="btn btn-success"  *ngIf="this.isEditClicked == false"  (click)="createSubject()">Submit</button>&nbsp;
          <button type="submit" class="btn btn-success"  *ngIf="this.isEditClicked == true" (click)="updateSubject()">Update</button>
         </div>
        </form>
      </div>
    </div>
  </div>
    
