<div class="container-fluid list-products">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive custom-scrollbar" style="max-height: 400px; overflow-y: auto;">
                        <form>
                            <table class="table table-hover table-border-horizontal" id="basic-1">
                                <thead>
                                    <tr>
                                        <th class=" " scope="col">Name</th>
                                        <th class=" " scope="col">Class</th>
                                        <th class=" " scope="col">School Name</th>
                                        <th class=" " scope="col">Mobile No</th>
                                        <th class=" " scope="col">Test Name</th>
                                        <th class=" " scope="col">Marks</th>
                                        <th class=" " scope="col">Percentage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd" *ngFor="let item of userDetails ; let i = index">
                                        <td class="sorting_1">
                                            <p>{{ item.userId.firstName + ' ' + item.userId.middleName + ' '+ item.userId.lastname}}</p>
                                        </td>
                                        <td class="sorting_1">
                                            <p>Class {{ item.userId.class}}</p>
                                        </td>
                                        <td class="sorting_1">
                                            <p>{{ item.userId.schoolName }}</p>
                                        </td>
                                        <td class="sorting_1">
                                            <p>{{ item.userId.mobileNo }}</p>
                                        </td>
                                        <td class="sorting_1">
                                            <p>{{ item.bsatExamTestId.bsatExamTestName }}</p>
                                        </td>
                                        <td class="sorting_1">
                                            <p>{{ item.obtainedMarks}}</p>
                                        </td>
                                        <td class="sorting_1">
                                            <p>{{ item.obtainedPercentage | number: '1.2-2'}} %</p>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-between mt-2">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
