<div class="card">
   <div class="card-header pb-0">
     <h5>Stepline Chart </h5>
   </div>
   <div class="card-body">
     <div id="stepline">
      <apx-chart 
        [series]="steplineChart.series"
        [colors]="steplineChart.colors"
        [chart]="steplineChart.chart"
        [stroke]="steplineChart.stroke"
        [dataLabels]="steplineChart.dataLabels"
        [title]="steplineChart.title"
        [markers]="steplineChart.markers">
        </apx-chart>
     </div>
   </div>
 </div>