<div class="card">
    <div class="card-body">
      <div class="product-info">
        <form [formGroup]="classFrom" class="form theme-form">
          <div class="product-group">
             <div class="row">
              <div class="col-lg-4 col-sm-12">
                <div class="mb-3">
                  <label class="form-label" for="categoryId">Subject Name</label>
                  <select formControlName="subject" placeholder="Category ID" class="form-select" id="categoryId"
                     (change)="changeClassId()"  name="categoryId" required >
                     <option value="" disabled selected>Select</option>
                    <option *ngFor="let item of chapterDetails" [ngValue]="item._id">
                      {{item.subjectName}}
                    </option>
                  </select>
                </div>
              </div>
              
              <div class="col-lg-4 col-sm-12">
                <div class="mb-3">
                  <label class="form-label" for="chaptername">Chapter Name</label>
                  <input  class="form-control" id="chaptername" formControlName="chaptername" placeholder="Subject Name"
                    type="text" required>
                    <div *ngIf="classFrom.get('chaptername')!.touched && classFrom.get('chaptername')!.hasError('required')" class="text text-danger mt-1">
                      Chapter Name  is required
                    </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div>
                  <label class="form-label" for="catImg">Chapter Image</label>
                  <input type="file"  (change)="onFileSelected($event)"  class="form-control" required />
                  <img *ngIf="chapterImageSrc" [src]="chapterImageSrc" alt="subImage" class="img-fluid w-25 text-center m-2" /> 
                </div>
              </div>
            </div>
             </div>
         <div class="col-12 d-flex justify-content-end mt-2">
          <button type="submit" class="btn btn-success" [disabled]="!classFrom.valid" *ngIf="this.isEditClicked == false"  (click)="createSubject()">Submit</button>&nbsp;
          <button type="submit" class="btn btn-success" [disabled]="!classFrom.valid" *ngIf="this.isEditClicked == true" (click)="updateSubject()">Update</button>
         </div>
        </form>
      </div>
    </div>
  </div>

