 
<div class="container-fluid">
   <div class="row">
     <div class="col-sm-12">
       <div class="card">
         <div class="card-header pb-0">
           <h5>Ck Editor</h5>
         </div>
         <div class="card-body">
            <ckeditor [editor]="editor" [config]="config" [data]="data"></ckeditor>
         </div>
       </div>
     </div>
     
   </div>
 </div>

