<div class="row">
  <ng-container *ngFor="let item of data">
    <div class="col-xl-3 xl-50 col-sm-6 box-col-6">
      <div class="card features-faq product-box">
        <div class="faq-image product-img"><img class="img-fluid" src="{{item.img}}" alt="">
          <div class="product-hover">
            <ul>
              <li><i class="icon-link"></i></li>
              <li><i class="icon-import"></i></li>
            </ul>
          </div>
        </div>
        <div class="card-body"><a href="learning/detailed-course">
            <h6>{{item.post}}</h6></a>
          <p>{{item.desc}}</p>
        </div>
        <div class="card-footer"><span>{{item.date}}</span>
          <ngb-rating [rate]="item.rating"></ngb-rating>
        </div>
      </div>
    </div>
  </ng-container>
</div>